.symbol-0000 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0000.png");
}
.symbol-0001 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0001.png");
}
.symbol-0002 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0002.png");
}
.symbol-0003 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0003.png");
}
.symbol-0004 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0004.png");
}
.symbol-0005 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0005.png");
}
.symbol-0006 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0006.png");
}
.symbol-0007 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0007.png");
}
.symbol-0008 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0008.png");
}
.symbol-0009 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0009.png");
}
.symbol-0010 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0010.png");
}
.symbol-0011 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0011.png");
}
.symbol-0012 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0012.png");
}
.symbol-0013 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0013.png");
}
.symbol-0014 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0014.png");
}
.symbol-0015 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0015.png");
}
.symbol-0016 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0016.png");
}
.symbol-0017 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0017.png");
}
.symbol-0018 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0018.png");
}
.symbol-0019 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0019.png");
}
.symbol-0020 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0020.png");
}
.symbol-0021 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0021.png");
}
.symbol-0022 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0022.png");
}
.symbol-0023 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0023.png");
}
.symbol-0024 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0024.png");
}
.symbol-0025 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0025.png");
}
.symbol-0026 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0026.png");
}
.symbol-0027 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0027.png");
}
.symbol-0028 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0028.png");
}
.symbol-0029 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0029.png");
}
.symbol-0030 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0030.png");
}
.symbol-0031 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0031.png");
}
.symbol-0032 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0032.png");
}
.symbol-0033 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0033.png");
}
.symbol-0034 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0034.png");
}
.symbol-0035 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0035.png");
}
.symbol-0036 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0036.png");
}
.symbol-0037 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0037.png");
}
.symbol-0038 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0038.png");
}
.symbol-0039 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0039.png");
}
.symbol-0040 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0040.png");
}
.symbol-0041 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0041.png");
}
.symbol-0042 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0042.png");
}
.symbol-0043 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0043.png");
}
.symbol-0044 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0044.png");
}
.symbol-0045 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0045.png");
}
.symbol-0046 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0046.png");
}
.symbol-0047 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0047.png");
}
.symbol-0048 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0048.png");
}
.symbol-0049 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0049.png");
}
.symbol-0050 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0050.png");
}
.symbol-0051 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0051.png");
}
.symbol-0052 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0052.png");
}
.symbol-0053 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0053.png");
}
.symbol-0054 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0054.png");
}
.symbol-0055 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0055.png");
}
.symbol-0056 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0056.png");
}
.symbol-0057 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0057.png");
}
.symbol-0058 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0058.png");
}
.symbol-0059 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0059.png");
}
.symbol-0060 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0060.png");
}
.symbol-0061 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0061.png");
}
.symbol-0062 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0062.png");
}
.symbol-0063 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0063.png");
}
.symbol-0064 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0064.png");
}
.symbol-0065 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0065.png");
}
.symbol-0066 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0066.png");
}
.symbol-0067 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0067.png");
}
.symbol-0068 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0068.png");
}
.symbol-0069 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0069.png");
}
.symbol-0070 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0070.png");
}
.symbol-0071 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0071.png");
}
.symbol-0072 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0072.png");
}
.symbol-0073 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0073.png");
}
.symbol-0074 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0074.png");
}
.symbol-0075 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0075.png");
}
.symbol-0076 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0076.png");
}
.symbol-0077 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0077.png");
}
.symbol-0078 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0078.png");
}
.symbol-0079 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0079.png");
}
.symbol-0080 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0080.png");
}
.symbol-0081 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0081.png");
}
.symbol-0082 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0082.png");
}
.symbol-0083 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0083.png");
}
.symbol-0084 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0084.png");
}
.symbol-0085 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0085.png");
}
.symbol-0086 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0086.png");
}
.symbol-0087 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0087.png");
}
.symbol-0088 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0088.png");
}
.symbol-0089 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0089.png");
}
.symbol-0090 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0090.png");
}
.symbol-0091 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0091.png");
}
.symbol-0092 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0092.png");
}
.symbol-0093 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0093.png");
}
.symbol-0094 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0094.png");
}
.symbol-0095 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0095.png");
}
.symbol-0096 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0096.png");
}
.symbol-0097 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0097.png");
}
.symbol-0098 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0098.png");
}
.symbol-0099 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0099.png");
}
.symbol-0100 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0100.png");
}
.symbol-0101 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0101.png");
}
.symbol-0102 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0102.png");
}
.symbol-0103 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0103.png");
}
.symbol-0104 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0104.png");
}
.symbol-0105 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0105.png");
}
.symbol-0106 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0106.png");
}
.symbol-0107 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0107.png");
}
.symbol-0108 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0108.png");
}
.symbol-0109 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0109.png");
}
.symbol-0110 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0110.png");
}
.symbol-0111 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0111.png");
}
.symbol-0112 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0112.png");
}
.symbol-0113 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0113.png");
}
.symbol-0114 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0114.png");
}
.symbol-0115 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0115.png");
}
.symbol-0116 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0116.png");
}
.symbol-0117 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0117.png");
}
.symbol-0118 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0118.png");
}
.symbol-0119 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0119.png");
}
.symbol-0120 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0120.png");
}
.symbol-0121 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0121.png");
}
.symbol-0122 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0122.png");
}
.symbol-0123 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0123.png");
}
.symbol-0124 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0124.png");
}
.symbol-0125 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0125.png");
}
.symbol-0126 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0126.png");
}
.symbol-0127 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0127.png");
}
.symbol-0128 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0128.png");
}
.symbol-0129 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0129.png");
}
.symbol-0130 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0130.png");
}
.symbol-0131 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0131.png");
}
.symbol-0132 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0132.png");
}
.symbol-0133 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0133.png");
}
.symbol-0134 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0134.png");
}
.symbol-0135 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0135.png");
}
.symbol-0136 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0136.png");
}
.symbol-0137 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0137.png");
}
.symbol-0138 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0138.png");
}
.symbol-0139 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0139.png");
}
.symbol-0140 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0140.png");
}
.symbol-0141 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0141.png");
}
.symbol-0142 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0142.png");
}
.symbol-0143 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0143.png");
}
.symbol-0144 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0144.png");
}
.symbol-0145 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0145.png");
}
.symbol-0146 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0146.png");
}
.symbol-0147 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0147.png");
}
.symbol-0148 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0148.png");
}
.symbol-0149 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0149.png");
}
.symbol-0150 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0150.png");
}
.symbol-0151 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0151.png");
}
.symbol-0152 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0152.png");
}
.symbol-0153 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0153.png");
}
.symbol-0154 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0154.png");
}
.symbol-0155 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0155.png");
}
.symbol-0156 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0156.png");
}
.symbol-0157 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0157.png");
}
.symbol-0158 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0158.png");
}
.symbol-0159 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0159.png");
}
.symbol-0160 {
  background: #87ace7;
  -webkit-mask-box-image: url("../images/symbols/0160.png");
}
