@themeColor: gray;
@themeWhiteColor: white;
@themeBlackColor: black;

// Fifty (?) shades of gray
@xxxx-lightGrayColor: lighten(@grayColor, 45%);
@xxx-lightGrayColor: lighten(@grayColor, 40%);
@xx-lightGrayColor: lighten(@grayColor, 30%);
@x-lightGrayColor: lighten(@grayColor, 20%);
@lightGrayColor: lighten(@grayColor, 10%);
@grayColor: @themeColor;
@darkGrayColor: darken(@grayColor, 10%); 
@x-darkGrayColor: darken(@grayColor, 20%);
@xx-darkGrayColor: darken(@grayColor, 30%);
@xxx-darkGrayColor: darken(@grayColor, 40%);
@xxxx-darkGrayColor: darken(@grayColor, 45%);



@lightScrollBarColor: hsl(196, 14%, 93%);
@darkScrollBarColor: hsl(186, 28%, 66%);


@textBackgroundColor: yellow; //white; //@xxxx-lightGrayColor;
@textColor: red; //@xxx-darkGrayColor;

@hoverTextColor: white;
@hoverBackgroundColor:  #08c;


// Disabled color
@disabledColor: #999;

// Alert or emphasis color
@alertColor: hsl(0, 100%, 40%);

// Hover colors

@selectedTextColor: white;
@selectedBackgroundColor:  red;


@xxxx-lightBookioBlue: lighten(@bookioBlue, 45%);
@xxx-lightBookioBlue: lighten(@bookioBlue, 40%);
@xx-lightBookioBlue: lighten(@bookioBlue, 30%);
@x-lightBookioBlue: lighten(@bookioBlue, 20%);
@lightBookioBlue: lighten(@bookioBlue, 10%);
@bookioBlue: blue;
@darkBookioBlue: darken(@bookioBlue, 10%); 
@x-darkBookioBlue: darken(@bookioBlue, 20%);
@xx-darkBookioBlue: darken(@bookioBlue, 30%);
@xxx-darkBookioBlue: darken(@bookioBlue, 40%);
@xxxx-darkBookioBlue: darken(@bookioBlue, 45%);

//@bookioBlue: #6B8299;  //#099dde; //#87ace7;

//@bookioLighterBlue: lighten(@bookioBlue, 5%);
//@bookioDarkerBlue: darken(@bookioBlue, 5%);
//@bookioMuchDarkerBlue: darken(@bookioBlue, 25%);
@bookioGreen: #61bc46;
@bookioRed: #e34a53;
@bookioYellow: #fcbe3b;

@blue-bg: #D1E8FF;
@blue-bg-dark: #C4DBF2;
@blue-ink: #094581;

@blue-dark: #526980;
@blue-medium: #6B8299;
@blue-light: #859CB3;
@blue-lighter: #9EB5CC;



