@themeColor: gray;
@themeWhiteColor: white;
@themeBlackColor: black;

// Shades of gray
@xxxx-lightGrayColor: lighten(@grayColor, 50%);
@xxx-lightGrayColor: lighten(@grayColor, 40%);
@xx-lightGrayColor: lighten(@grayColor, 30%);
@x-lightGrayColor: lighten(@grayColor, 20%);
@lightGrayColor: lighten(@grayColor, 10%);
@grayColor: @themeColor;
@darkGrayColor: darken(@grayColor, 10%); 
@x-darkGrayColor: darken(@grayColor, 20%);
@xx-darkGrayColor: darken(@grayColor, 30%);
@xxx-darkGrayColor: darken(@grayColor, 40%);
@xxxx-darkGrayColor: darken(@grayColor, 50%);



@lightScrollBarColor: hsl(196, 14%, 93%);
@darkScrollBarColor: hsl(186, 28%, 66%);


@textBackgroundColor: yellow; //white; //@xxxx-lightGrayColor;
@textColor: red; //@xxx-darkGrayColor;

@hoverTextColor: white;
@hoverBackgroundColor:  #08c;


// Disabled color
@disabledColor: #999;

// Alert or emphasis color
@alertColor: hsl(0, 100%, 40%);

// Hover colors

@selectedTextColor: white;
@selectedBackgroundColor:  red;

@bookioBlue: #87ace7;
@bookioLighterBlue: #C8D9F4;
@bookioDarkerBlue: #336699;
@bookioGreen: #71C66F;
@bookioRed: #e0665a;