#contact-page [data-role="content"] [data-id="flip"] {
  position: relative;
  display: inline-block;
}
#contact-page [data-role="content"] [data-id="flip"]:after {
  content: "\0000a0";
}
#contact-page [data-role="content"] [data-id="flip"] .front,
#contact-page [data-role="content"] [data-id="flip"] .back {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-backface-visibility: hidden;
}
#contact-page [data-role="content"] [data-id="flip"] .back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#contact-page [data-role="content"] [data-id="flip"].flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transition-duration: 500ms;
}
#contact-page [data-role="content"] [data-id="address"] {
  height: 6em !important;
}
