.symbol-0056 {
  background: blue;
  -webkit-mask-box-image: url(../../images/symbols/0056.png);
}
#contact-page .center {
  text-align: center;
}
#contact-page [data-role="content"] li .ui-block-a,
#contact-page [data-role="content"] li .ui-block-b,
#contact-page [data-role="content"] li .ui-block-c,
#contact-page [data-role="content"] li .ui-grid-solo {
  padding-right: 8px;
  padding-left: 8px;
}
#contact-page [data-role="content"] [data-id="address"] {
  height: 6em !important;
}
#contact-page [data-role="button-row"] [data-role="button"] {
  min-width: 8em;
}
