@import "../../css/bookio.less";


#contact-page {

	.center {
        text-align: center;
		
	}
	
	[data-role="content"] {
	
		li .ui-block-a, li .ui-block-b, li .ui-block-c, li .ui-grid-solo {
			padding-right: 8px;
			padding-left: 8px;
		}

		[data-id="address"] {
			height:6em !important;
		}

	}
	
	[data-role="button-row"] {
		[data-role="button"] {
			min-width: 8em;
		}
	}    
}
