@import "../../css/bookio.less";


#contact-page {

	.center {
        text-align: center;
		
	}
	
	[data-role="content"] {
	
		li {
			.ui-grid-a {
				.ui-block-a {
					padding-right:8px;
				}
				.ui-block-b {
					padding-left:8px;
				}
			}
			
			.ui-grid-b {
				.ui-block-a {
					padding-right:8px;
				}
				.ui-block-b {
					padding-right:8px;
					padding-left:8px;
				}
				.ui-block-c {
					padding-left:8px;
				}
				
			}
		}

		[data-id="address"] {
			height:6em !important;
		}

	}
	
}
