[data-role="popup"].picker ul li div {
  min-width: 5em;
}
[data-role="popup"].picker ul li div.ui-nodisc-icon:after {
  background-color: transparent !important;
}
[data-role="popup"].picker ul li div.ui-icon-check:after {
  background-color: #b2c9f0 !important;
}
[class*="ui-block-"] > [data-role="picker"].ui-btn {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
[data-role="picker"] {
  text-align: left;
}
[data-role="picker"] span:after {
  content: "\0000a0";
}
