@import "../css/bookio.less";


@lightSliderColor: @bookioLighterBlue;
@darkSliderColor: @bookioBlue;


.time-slider {
    position: absolute;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height:100%;

    display: table;
    .vertical-gradient(@xx-lightGrayColor, @xxx-lightGrayColor);
    border: 1px solid @xx-lightGrayColor;
}

.time-slider div {
    
}
.time-slider .slider-container {
    //.vertical-gradient(@xx-lightGrayColor, @xxx-lightGrayColor);
    position: relative;
    display: table-cell;
    height:100%;
}


.time-slider .scroll {
    width:20px;
    height:100%;
    display: table-cell;
    vertical-align: middle;
    opacity: 0.3;
    text-align: center;
    cursor: pointer;
    position:relative;
}

.time-slider .scroll.right {
}

.time-slider .scroll.left {
}

.time-slider .slider {
	position: absolute;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    display: inline-block;
    cursor: pointer;

    // Make it draw over the right chevron
    z-index: 1;
    
    .vertical-gradient(@lightSliderColor, @darkSliderColor);
	.drop-shadow(0px, 0px, 2px, 1px, fadeout(black, 85%));	
	.border-radius(1px);
}

.time-slider icon-chevron-right {
    height:100%;
}

.time-slider icon-chevron-left {
    height:100%;
}


.time-slider .gripper {
	position: absolute;
    .vertical-gradient(@darkSliderColor, @lightSliderColor);
    .border-radius(100px);
	.inner-shadow(0px, 0px, 2px, 2px, fadeout(white, 95%));	
}
