[data-role="scheduleweek"] table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
[data-role="scheduleweek"] table tr,
[data-role="scheduleweek"] table td {
  text-align: center;
  border: 1px solid #f3f3f3;
  padding: 0px 0px 0px 0px;
}
[data-role="scheduleweek"] table tbody tr:first-child .icon {
  visibility: visible;
  cursor: pointer;
}
[data-role="scheduleweek"] table tbody tr:last-child .icon {
  visibility: visible;
  cursor: pointer;
}
[data-role="scheduleweek"] table tbody td div {
  width: 100%;
  height: 0.8em;
}
[data-role="scheduleweek"] table tbody td div.tag-A {
  background-color: #099dde;
}
[data-role="scheduleweek"] table tbody td div.tag-B {
  background-color: #61bc46;
}
[data-role="scheduleweek"] table tbody td div.tag-C {
  background-color: #e34a53;
}
[data-role="scheduleweek"] table tbody td div.tag-D {
  background-color: #fcbe3b;
}
[data-role="scheduleweek"] table tbody th {
  text-align: center;
  position: relative;
}
[data-role="scheduleweek"] table tbody th .label {
  width: 100%;
}
[data-role="scheduleweek"] table tbody th .icon {
  position: absolute;
  font-size: 150%;
  color: #61bc46;
  padding: 0.1em;
  visibility: hidden;
}
[data-role="scheduleweek"] table tbody th .icon-chevron-up {
  top: 0px;
  bottom: auto;
  right: 0px;
  left: auto;
}
[data-role="scheduleweek"] table tbody th .icon-chevron-down {
  bottom: 0px;
  top: auto;
  right: 0px;
  left: auto;
}
