@import "../../css/bookio.less";
@baseColor: fadeout(@bookioBlue, 30%);
 
[data-role="scheduleday"] {
    
    table {
        width:100%;
        //table-layout: fixed;
        border-collapse:collapse;
        font-size: 9pt;

	    tr, td {
	        text-align: center;
	        padding: 0px 0px 0px 0px;

	    }
		
		thead {
			th {
			}
		}
		tbody {

			tr {
			}		

			td {
		        border: 1px solid @xxxx-lightGrayColor;
				width:3em;
				text-align: center;
				div {
				    width:100%;
					height:0.8em;

					&[tag="A"] {
			            background-color: @bookioBlue;
					}
					&[tag="B"] {
			            background-color: @bookioGreen;
					}
			        &[tag="C"] {
			            background-color: @bookioRed;
			        }
			        &[tag="D"] {
			            background-color: @bookioYellow;
			        }

				}
							
			}			
		
		    th {
		        text-align: left;
		        font-weight: bold;
		        //position: relative;
		        
		    }
		
			
		}


    }




}
