[data-role="scheduleday"] table {
  width: 100%;
  border-collapse: collapse;
}
[data-role="scheduleday"] table tr,
[data-role="scheduleday"] table td {
  text-align: center;
}
[data-role="scheduleday"] table tbody td {
  border: 1px solid #f3f3f3;
  text-align: center;
}
[data-role="scheduleday"] table tbody th {
  text-align: left;
  font-weight: bold;
}
