[data-role="schedule-day"] table {
  width: 100%;
  border-collapse: collapse;
}
[data-role="schedule-day"] table tr,
[data-role="schedule-day"] table td,
[data-role="schedule-day"] table th {
  border: 1px solid #f3f3f3;
  text-align: center;
}
[data-role="schedule-day"] table tbody th {
  font-weight: bold;
}
