@import "../../css/bookio.less";
@baseColor: fadeout(@bookioBlue, 30%);
 
[data-role="scheduleday"] {
    
    table {
        width:100%;
        //table-layout: fixed;
        border-collapse:collapse;
        //font-size: 11pt;

	    tr, td {
	        text-align: center;
	        //padding: 0px 0px 0px 0px;

	    }
		
		thead {
			th {
			}
		}
		tbody {

			tr {
			}		

			td {

		        border: 1px solid @xxxx-lightGrayColor;
				text-align: center;
							
			}			
		
		    th {
		        text-align: left;
		        font-weight: bold;
		        //position: relative;
		        
		    }
		
			
		}


    }




}
