@import "../../css/bookio.less";


#option-page {

	[data-id="description"] {
		height:6em !important;
	}

	[data-id="schedule"] {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	
	option {
		display: none;
	}
		
	
}