@keyframes animate-arrow {
  0%,
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(3px, -4px);
    -moz-transform: translate(3px, -4px);
    -ms-transform: translate(3px, -4px);
    -o-transform: translate(3px, -4px);
    transform: translate(3px, -4px);
  }
}
@-o-keyframes animate-arrow {
  0%,
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(3px, -4px);
    -moz-transform: translate(3px, -4px);
    -ms-transform: translate(3px, -4px);
    -o-transform: translate(3px, -4px);
    transform: translate(3px, -4px);
  }
}
@-ms-keyframes animate-arrow {
  0%,
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(3px, -4px);
    -moz-transform: translate(3px, -4px);
    -ms-transform: translate(3px, -4px);
    -o-transform: translate(3px, -4px);
    transform: translate(3px, -4px);
  }
}
@-moz-keyframes animate-arrow {
  0%,
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(3px, -4px);
    -moz-transform: translate(3px, -4px);
    -ms-transform: translate(3px, -4px);
    -o-transform: translate(3px, -4px);
    transform: translate(3px, -4px);
  }
}
@-webkit-keyframes animate-arrow {
  0%,
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(3px, -4px);
    -moz-transform: translate(3px, -4px);
    -ms-transform: translate(3px, -4px);
    -o-transform: translate(3px, -4px);
    transform: translate(3px, -4px);
  }
}
@keyframes animate-button {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes animate-button {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes animate-button {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes animate-button {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes animate-button {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes animate-symbol {
  0%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  5% {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  8% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  15% {
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  20% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-o-keyframes bounce-symbol {
  0%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  5% {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  8% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  15% {
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  20% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-ms-keyframes bounce-symbol {
  0%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  5% {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  8% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  15% {
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  20% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-moz-keyframes bounce-symbol {
  0%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  5% {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  8% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  15% {
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  20% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@-webkit-keyframes bounce-symbol {
  0%,
  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  5% {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  8% {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  15% {
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
  }
  20% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
[data-role="desktop"] {
  width: 100%;
  height: 100%;
}
[data-role="desktop"] .desktop {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}
[data-role="desktop"] .desktop.editmode {
  outline: 2px solid #71c66f;
  outline-offset: -2px;
}
[data-role="desktop"] .desktop.editmode .button {
  display: block;
  -webkit-animation: animate-button 0.5s ease-in-out;
  -moz-animation: animate-button 0.5s ease-in-out;
  -ms-animation: animate-button 0.5s ease-in-out;
  -o-animation: animate-button 0.5s ease-in-out;
  animation: animate-button 0.5s ease-in-out;
}
[data-role="desktop"] .desktop.editmode .watermark {
  display: block;
}
[data-role="desktop"] .desktop.intromode .intro {
  display: block;
}
[data-role="desktop"] .desktop.intromode .intro .arrow {
  -webkit-animation: animate-arrow 1s infinite;
  -moz-animation: animate-arrow 1s infinite;
  -ms-animation: animate-arrow 1s infinite;
  -o-animation: animate-arrow 1s infinite;
  animation: animate-arrow 1s infinite;
}
[data-role="desktop"] .desktop.intromode .intro .house {
  -webkit-animation: bounce-symbol 5s 1s infinite;
  -moz-animation: bounce-symbol 5s 1s infinite;
  -ms-animation: bounce-symbol 5s 1s infinite;
  -o-animation: bounce-symbol 5s 1s infinite;
  animation: bounce-symbol 5s 1s infinite;
}
[data-role="desktop"] .desktop.intromode .intro .man {
  -webkit-animation: bounce-symbol 5s 2s infinite;
  -moz-animation: bounce-symbol 5s 2s infinite;
  -ms-animation: bounce-symbol 5s 2s infinite;
  -o-animation: bounce-symbol 5s 2s infinite;
  animation: bounce-symbol 5s 2s infinite;
}
[data-role="desktop"] .desktop.intromode .intro .squash {
  -webkit-animation: bounce-symbol 5s 3s infinite;
  -moz-animation: bounce-symbol 5s 3s infinite;
  -ms-animation: bounce-symbol 5s 3s infinite;
  -o-animation: bounce-symbol 5s 3s infinite;
  animation: bounce-symbol 5s 3s infinite;
}
[data-role="desktop"] .desktop.intromode .intro .bike {
  -webkit-animation: bounce-symbol 5s 4s infinite;
  -moz-animation: bounce-symbol 5s 4s infinite;
  -ms-animation: bounce-symbol 5s 4s infinite;
  -o-animation: bounce-symbol 5s 4s infinite;
  animation: bounce-symbol 5s 4s infinite;
}
[data-role="desktop"] .desktop.intromode .intro .car {
  -webkit-animation: bounce-symbol 5s 5s infinite;
  -moz-animation: bounce-symbol 5s 5s infinite;
  -ms-animation: bounce-symbol 5s 5s infinite;
  -o-animation: bounce-symbol 5s 5s infinite;
  animation: bounce-symbol 5s 5s infinite;
}
[data-role="desktop"] .desktop .watermark {
  display: none;
  position: absolute;
  width: 400px;
  height: 400px;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  text-align: center;
  line-height: 400px;
  font-size: 400px;
  color: #099dde;
  opacity: 0.075;
}
[data-role="desktop"] .desktop .intro {
  display: none;
}
[data-role="desktop"] .desktop .intro .text {
  position: absolute;
  top: 80px;
  left: auto;
  right: 90px;
  bottom: auto;
  width: 500px;
  height: 200px;
  background: no-repeat center;
  background-image: url(./images/png/text.png);
}
[data-role="desktop"] .desktop .intro .arrow {
  position: absolute;
  top: 50px;
  left: auto;
  right: 20px;
  bottom: auto;
  width: 200px;
  height: 110px;
  background: no-repeat center url(./images/png/arrow.png);
}
[data-role="desktop"] .desktop .intro .house {
  position: absolute;
  top: 243px;
  left: auto;
  right: 503px;
  bottom: auto;
  opacity: 0.8;
  width: 94px;
  height: 58px;
  background: no-repeat center url(./images/png/house.png);
}
[data-role="desktop"] .desktop .intro .man {
  position: absolute;
  top: 243px;
  left: auto;
  right: 415px;
  bottom: auto;
  opacity: 0.8;
  width: 59px;
  height: 57px;
  background: no-repeat center url(./images/png/man.png);
}
[data-role="desktop"] .desktop .intro .squash {
  position: absolute;
  top: 243px;
  left: auto;
  right: 336px;
  bottom: auto;
  opacity: 0.8;
  width: 58px;
  height: 58px;
  background: no-repeat center url(./images/png/squash.png);
}
[data-role="desktop"] .desktop .intro .bike {
  position: absolute;
  top: 243px;
  left: auto;
  right: 235px;
  bottom: auto;
  opacity: 0.8;
  width: 88px;
  height: 58px;
  background: no-repeat center url(./images/png/bike.png);
}
[data-role="desktop"] .desktop .intro .car {
  position: absolute;
  top: 255px;
  left: auto;
  right: 80px;
  bottom: auto;
  opacity: 0.8;
  width: 143px;
  height: 45px;
  background: no-repeat center url(./images/png/car.png);
}
[data-role="desktop"] .desktop .button {
  position: absolute;
  display: none;
  cursor: pointer;
  font-size: 48px;
  color: #71c66f;
}
[data-role="desktop"] .desktop .button:hover {
  opacity: 1.0;
}
[data-role="desktop"] .desktop .button.close {
  top: 4px;
  left: auto;
  right: 4px;
  bottom: auto;
}
[data-role="desktop"] .desktop .button.add {
  top: 4px;
  left: auto;
  right: 53px;
  bottom: auto;
}
[data-role="desktop"] .desktop .item {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
[data-role="desktop"] .desktop .item.selected .title,
[data-role="desktop"] .desktop .item.selecting .title {
  outline: 1px solid rgba(9, 157, 222, 0.5);
  color: white;
  background-color: #099dde;
  text-shadow: none;
  padding: 5px;
}
[data-role="desktop"] .desktop .item.selected .icon,
[data-role="desktop"] .desktop .item.selecting .icon {
  outline: 2px solid rgba(9, 157, 222, 0.9);
}
[data-role="desktop"] .desktop .item.disabled {
  opacity: 0.3;
}
[data-role="desktop"] .desktop .item .title {
  margin-left: 15px;
  margin-right: 15px;
  max-width: 82px;
  display: inline-block;
  font-size: 11px;
  text-align: center;
  padding: 2px 4px;
  line-height: 13px;
  color: #676767;
  max-height: 26px;
  text-overflow: ellipsis;
  overflow: hidden;
}
[data-role="desktop"] .desktop .item .icon {
  display: inline-block;
  margin: 5px;
  width: 50px;
  height: 50px;
  outline: 2px solid rgba(9, 157, 222, 0.1);
}
[data-role="desktop"] .desktop .item .icon:hover {
  outline: 2px solid rgba(9, 157, 222, 0.9);
}
[data-role="desktop"] .desktop .item .icon img {
  margin: 5px;
  width: 40px;
  height: 40px;
}
[data-role="desktop"] .desktop .item .icon img:hover {
  color: red;
  background: #007db4;
}
[data-role="desktop"] .desktop .item .icon:hover {
  cursor: pointer;
}
