@import "../../css/bookio.less";



@keyframes animate-arrow {.animate-arrow();}
@-o-keyframes animate-arrow {.animate-arrow();}
@-ms-keyframes animate-arrow {.animate-arrow();}
@-moz-keyframes animate-arrow {.animate-arrow();}
@-webkit-keyframes animate-arrow {.animate-arrow();}

.animate-arrow() {
	0%, 100% {
		.transform(translate(0px, 0px));
	}

	50% {
		.transform(translate(3px, -4px));
	}

}

@keyframes animate-button {.animate-button();}
@-o-keyframes animate-button {.animate-button();}
@-ms-keyframes animate-button {.animate-button();}
@-moz-keyframes animate-button {.animate-button();}
@-webkit-keyframes animate-button {.animate-button();}

.animate-button() {
	0% {
		.transform(scale(1));
	}

	50% {
		.transform(scale(1.5));
	}

	100% {
		.transform(scale(1));
	}
}

@keyframes animate-symbol {.bounce-symbol();}
@-o-keyframes bounce-symbol {.bounce-symbol();}
@-ms-keyframes bounce-symbol {.bounce-symbol();}
@-moz-keyframes bounce-symbol {.bounce-symbol();}
@-webkit-keyframes bounce-symbol {.bounce-symbol();}

.bounce-symbol(@height:10px) {
	0%, 100% {
		.transform(translateY(0.0 * @height));
	}

	5% {
		.transform(translateY(0.2 * @height));
	}
	8% {
		.transform(translateY(-1.0 * @height));
	}
	15% {
		.transform(translateY(0.4 * @height));
	}
	
	20% {
		.transform(translateY(0.0 * @height));
	}
}



[data-role="desktop"] {


	width:100%;
	height:100%;
	position: relative;

	.desktop {
	    position: absolute;
	    top:0px;left:0px;right:0px;bottom:0px;
	    overflow:hidden;
	
		&.editmode {
			
			outline: 2px solid @bookioGreen;
			outline-offset: -2px;
			
			.button {
				display: block;
				.animation(animate-button 0.5s ease-in-out);
			}
			
			.watermark {
				display: block;
			}
		}

		&.intromode {
			.intro {
				display: block;
				
				.arrow {
					.animation(animate-arrow 1s infinite);
				}
				
				.house {
					.animation(bounce-symbol 5s 1.0s infinite);
				}
				.man {
					.animation(bounce-symbol 5s 2.0s infinite);
				}
				.squash {
					.animation(bounce-symbol 5s 3.0s infinite);
				}
				.bike {
					.animation(bounce-symbol 5s 4.0s infinite);
				}
				.car {
					.animation(bounce-symbol 5s 5.0s infinite);
				}

			}
			
		}
		
		.watermark {
			display: none;
			position:absolute;
			width:400px;
			height:400px;
			left:0px;top:0px;right:0px;bottom:0px;
			margin: auto;
			text-align: center;
			line-height: 400px;
			font-size: 400px;
			color:@bookioBlue;
			opacity: 0.075;
		}
	
	
		.intro {
			display: none;
	
			.text {
				position: absolute;
			    top:80px;left:auto;right:90px;bottom:auto;
			    width: 500px;
			    height: 200px;
				background: no-repeat center;
				background-image: url(./images/png/text.png);
			}
	
			.arrow {
				position: absolute;
			    top:50px;left:auto;right:20px;bottom:auto;
			    width: 200px;
			    height: 110px;
				background: no-repeat center url(./images/png/arrow.png);
			}
	
			
			.house {
				position: absolute;
			    top:243px;left:auto;right:503px;bottom:auto;
				opacity:0.8;
				width: 94px;
			    height: 58px;
				background: no-repeat center url(./images/png/house.png);
			}
			
			.man {
				position: absolute;
			    top:243px;left:auto;right:415px;bottom:auto;
				opacity:0.8;
				width: 59px;
			    height: 57px;
				background: no-repeat center url(./images/png/man.png);
			}
			
			.squash {
				position: absolute;
			    top:243px;left:auto;right:336px;bottom:auto;
				opacity:0.8;
				width: 58px;
			    height: 58px;
				background: no-repeat center url(./images/png/squash.png);
			}
			
			.bike {
				position: absolute;
			    top:243px;left:auto;right:235px;bottom:auto;
				opacity:0.8;
				width: 88px;
			    height: 58px;
				background: no-repeat center url(./images/png/bike.png);
			}
			
			.car {
				position: absolute;
			    top:255px;left:auto;right:80px;bottom:auto;
				opacity:0.8;
				width: 143px;
			    height: 45px;
				background: no-repeat center url(./images/png/car.png);
			}
			
	
		}
	
		.button {
			position: absolute;
			display: none;
			cursor: pointer;
			font-size: 48px;
			color: @bookioGreen;
			opacity: 0.8;
			
			&:hover {
				opacity: 1.0;
			}
			
			&.close {
			    top:4px;left:auto;right:4px;bottom:auto;
			}
			
			&.add {
			    top:4px;left:auto;right:53px;bottom:auto;
			}
		}
		
		.item {
		    position: absolute;
		    width:100px;
		    height:100px;
		    
		    text-align: center;
		    padding: 0px;          
		    margin: 0px;

			
//			border:1px solid black;
			&.selected, &.selecting {
				.title {
					outline: 1px solid fade(@bookioBlue, 50%);
				    color: white;
				    background-color: @bookioBlue;
				    text-shadow: none;
				    padding: 5px;
				}
				.icon {
					outline: 2px solid fade(@bookioBlue, 90%);
				}
			}

			&.disabled {
				opacity: 0.3;
			}		
			
			.title {
			    margin-left: 15px;
			    margin-right: 15px;
			    max-width: 82px;
			    display: inline-block;
				font-size: 11px;
				text-align: center;
				padding: 2px 4px;
				line-height: 13px;
				color: @darkGrayColor;
				max-height: 26px;
				text-overflow: ellipsis;
				overflow:hidden; 
			}
	
			.icon {
			    display: inline-block;
			    margin:5px;
			    width:50px;
			    height:50px;
			    outline: 2px solid fade(@bookioBlue, 10%);
			    
			    &:hover {
				    outline: 2px solid fade(@bookioBlue, 90%);
				    
			    }
			    
				img {
					&:hover {
						color: red;
						//background: darken(saturate(@bookioBlue, 100%), 10%);
					}
			    	margin: 5px;
			        width: 40px;
			        height:40px;
				}
				
				&:hover {
					cursor: pointer;
				}
			}
			   
	
		}
	
	}
	
	
	
}





