@import "../../css/bookio.less";
/*

@keyframes fadeIn,
@-moz-keyframes fadeIn,
@-webkit-keyframes fadeIn,
@-o-keyframes fadeIn {
	0% {
		background-color: red; //lighten(@bookioBlue, 25%);
		
	}
	100% {
		background-color: blue; //lighten(@bookioBlue, 10%);
		
	}
}

@keyframes fadeOut,
@-moz-keyframes fadeOut,
@-webkit-keyframes fadeOut,
@-o-keyframes fadeOut {
	0% {
		background-color: lighten(@bookioBlue, 10%);
		
	}
	100% {
		background-color: lighten(@bookioBlue, 25%);
		
	}
}
*/

@baseColor: fadeout(@bookioBlue, 30%);


#schedule-page {


.foo {

	table {
		
		width:100%;		
		table-layout: fixed;
		border-collapse:collapse;
//		border-color: green;
	}
	.ui-block-a, .ui-block-b, .ui-block-c {
		//height:6em;
		padding: 0.5em;
	}	


	tr, td {
		text-align: center;
		border: 1px solid @xxxx-lightGrayColor;
		padding: 0px 0px 0px 0px;
		.selected {
			background-color: @baseColor;
		}
		.tracking {
			background-color: darken(@baseColor, 5%);
			border-color: darken(@baseColor, 5%);
			
		}

	}
	
	.label {
		display: inline-block;
	}
	.icon {
		opacity: 0.7;
		width:16px;
		height: 16px;
		font-size:16px;
		padding: 2px;
		display: inline-block;
		visibility: hidden;
	}
	
	tr:first-child {
		td:first-child {
			.icon {
				visibility:visible;
				cursor: pointer;
			}
		}
		
	}
	tr:last-child {
		td:first-child {
			.icon {
				visibility:visible;
				cursor: pointer;
			}
			
		}
		
	}

	.selectable {
		width:100%;
		//outline: 1px solid green;
		//outline-offset: -2px;
	}

	
}
		
}