#test-page table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
#test-page tr,
#test-page td {
  text-align: center;
  border: 1px solid #f3f3f3;
}
#test-page tr .selected,
#test-page td .selected {
  background-color: #ff0000;
}
#test-page tr .selecting,
#test-page td .selecting {
  background-color: #e60000;
}
#test-page .inline {
  display: inline-block;
}
#test-page .small-icon {
  opacity: 0.7;
  width: 16px;
  height: 16px;
  font-size: 16px;
  padding: 2px;
  display: inline-block;
  visibility: hidden;
}
#test-page tr:first-child td:first-child .small-icon {
  visibility: visible;
  cursor: pointer;
}
#test-page tr:last-child td:first-child .small-icon {
  visibility: visible;
  cursor: pointer;
}
#test-page .marquee {
  background-color: green ;
  border: 10px solid blue;
}
#test-page .cell {
  font-size: small;
}
#test-page tdX {
  text-align: center;
  outline: 1px solid #e6e6e6;
}
