@import "../../bookio.less";


.dual-date-picker {
    display: table;
    border-spacing: 0.5em;

    .start-date {
        border:1px solid hsla(0, 0, 0, 20%);	
        .border-radius(6px);
        display: table-cell;
    }

    .end-date {
        border:1px solid hsla(0, 0, 0, 20%);	
        .border-radius(6px);
        display: table-cell;
        
    }
}