@import "../../css/bookio.less";


@baseColor: red; //fadeout(@bookioBlue, 30%);

#test-page {
	
	table {
		
		width:100%;		
		table-layout: fixed;
		border-collapse:collapse;
	}
	


	tr, td {
		text-align: center;
		border: 1px solid @xxxx-lightGrayColor;

		.selected {
			background-color: @baseColor;
		}
		.selecting {
			background-color: darken(@baseColor, 5%);
			
		}

	}
	
	.inline {
		display: inline-block;
	}
	.small-icon {
		opacity: 0.7;
		width:16px;
		height: 16px;
		font-size:16px;
		padding: 2px;
		display: inline-block;
				visibility: hidden;
	}
	
	tr:first-child {
		td:first-child {
			.small-icon {
				visibility:visible;
				cursor: pointer;
			}
		}
		
	}
	tr:last-child {
		td:first-child {
			.small-icon {
				visibility:visible;
				cursor: pointer;
			}
			
		}
		
	}
	
	.marquee {
		background-color: green ; //!important; //fadeout(black, 95%);
		border: 10px solid blue; // !important;		
	}

	.cell {
		font-size: small;
	}
	
	
	tdX {
		text-align: center;
		
		outline: 1px solid @xxx-lightGrayColor;
	}
}