@import "mixins.less";

.icon(@x, @y, @dx, @dy) {
	background-image: url(../images/icons/icons.png);
	background-repeat: no-repeat;
	background-position:-1 * @x -1 * @y;
	width:@dx;
	height:@dy;
}

.icon-warning {
	.icon(0px, 48px, 48px, 48px);
}

.icon-tools {
	.icon(0 * 64px, 9 * 16px, 64px, 64px);
}

.icon-gears {
	.icon(1 * 64px, 9 * 16px, 64px, 64px);
}

.icon-onoff {
	.icon(2 * 64px, 9 * 16px, 64px, 64px);
}

.icon-gear {
	.icon(9 * 16px, 0px, 32px, 32px);
}



.icon-question {
	.icon(3 * 16px, 3 * 16px, 48px, 48px);
	
}

.icon-close {
	.icon(6 * 16px, 3 * 16px, 48px, 48px);
	
}

.icon-add {
	.icon(9 * 16px, 3 * 16px, 48px, 48px);
}

.icon-error {
	.icon(0 * 16px, 6 * 16px, 48px, 48px);
}

.icon-information {
	.icon(3 * 16px, 6 * 16px, 48px, 48px);	
}

.icon-drag-drop {
	.icon(0 * 16px, 13 * 16px, 6 * 16px, 4 * 16px);	
}


