@import "mixins.less";
@import "themes.less";
@import "variables.less";


* {
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

body {
	.user-select(none);
	cursor: default;
}


.hidden {
    display: none !important;
}

.invisible {
    opacity: 0 !important;
}

label.ui-input-text {

	padding-left: 1em;
	padding-right: 1em;
		
}

label.helptext {
		//color: @xxxx-lightGrayColor;
		color: @lightGrayColor;
		font-size: smaller;
		font-style: normal;
		font-weight: 100;
		padding-left: 2em;
}

div.ui-input-text {
	.border-radius(1.2em);
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(255, 255, 255, 0.4);
		
}

input[type=text].ui-input-text {
	padding-left: 1em;
	padding-right: 1em;
}

textarea.ui-input-text {
	.border-radius(1.2em);
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(255, 255, 255, 0.4);
}

.ui-header, ui-footer {
    .vertical-gradient(lighten(black, 50%), black);
	
}

.ui-mobile-viewport {
    background-image: url(../images/backgrounds/white-leather.png);    
}


[data-role="page"] {
    background: transparent;

	[data-role="content"] {

	    max-width: 800px;
	    margin-left: auto;
	    margin-right:auto;

	    [data-role="listview"] {
    	    li p {
    		    white-space: normal;
    	    }
	    }


	    button {
			.border-radius(1.2em);
	    }
	
	    [data-role=button-row] {
		    text-align: center;

    	    [data-role="button"]  {
    			.border-radius(1.2em);
    			min-width: 8em;
    	    }
	    }
	}    
}


#categories {

    
    [data-id="spinner"] {
        text-align: center;
        width:40px;
        height:40px;
        display: inline-block;
    }
    
}


