@import "../../css/bookio.less";

html, body {
    height : 100%;
}

@scaleHeight: 30px;
@sliderHeight: 25px;
@footerHeight: 50px;
@margin: 10px;
@space:2px;
@buttonColor: @bookioBlue;

#main-page {
    
    height : 100%;


	[data-role=footer] {
	    position:absolute;
	    bottom:0px;
	    left:0px;
	    right:0px;
	    height:@footerHeight;
	    padding:4px;
	    text-align:center;
	    background-image: none;
	    background-color: transparent;// fadeout(black, 90%);
	    border:none;

	    [data-id="startdate.button"], [data-id="enddate.button"] {
	    
    	    width:12em;
    	    margin: 0px;
    	    margin-left: 0.5em;
    	    margin-right: 0.5em;
    	    .border-radius(2em);

            .year {
            	color: @xx-lightGrayColor;
            }
            
            .day {
            	color: @x-darkGrayColor; 
            }
            
            .year, .day {
            	text-shadow: 1px 1px 1px white;
            	cursor: pointer;
            }
            
            .weekday {
            	text-shadow: 1px 1px 1px white;
            	cursor: default;
            	color: @xx-lightGrayColor;
            	font-size: 80%;
            }
	    }
	    
	    [data-id="view-group"] {
	    	cursor: pointer;
			width: 120px;
			display: inline-block;
			text-align: center;
			margin-right: 30px; // Distance to date control
			padding: 2px;
			
			border-style: dashed; 
			border-width: 1px;
			border-color: @lightBookioBlue;
			
			div {
				color: @buttonColor;
				display: inline-block;
				vertical-align: middle;
				font-size: 30px;
				opacity: 0.4;				

				&:hover, &.selected {
					opacity: 0.8;
				}				
			}

	    }
	    
	    [data-id="containerforinput"] {
			width: 250px;
			display: inline-block;
	    }
	    
	    [data-id="popup.div"] {
		    display: inline-block;
			width: 100px;
			text-align: center;

		    [data-id="popup.icon"] {
		    	cursor: pointer;
				display: inline-block;
				vertical-align: middle;
				font-size:30px;
				color: @buttonColor;

//				opacity: 0.4;
				
				&:hover {
					opacity: 0.5;
				}
			}
	    }



	}

	[data-role="popup"] {
	

		li a {
			text-align: center;
			padding: 10px;

			div {
				display: inline-block;
				font-size: 60px;
				color: @buttonColor;
				
				&:hover {
					opacity: 0.5;
				}			
			}			
		}

	}

	[data-id=desktopcontainer] {
		position:absolute;
	    left:@margin;
	    right:@margin;
	    top:@margin;
	    bottom:@footerHeight+@sliderHeight+@scaleHeight+1*@margin+3*@space;
	    border: 1px solid @xx-lightGrayColor;
	}

	[data-id=scale] {
		position:absolute;
	    left:@margin;
	    right:@margin;
	    top:auto;
	    height:@scaleHeight;
	    bottom:@footerHeight+@sliderHeight+1*@margin+2*@space;
	}

	[data-id=slider] {
		position:absolute;
	    left:@margin;
	    right:@margin;
	    top:auto;
	    height:@sliderHeight;
	    bottom:@footerHeight+1*@margin+1*@space;
	}
	
	[data-role=footer] {
    	[data-id=year] {
        	color: @xxx-lightGrayColor;
    	}
    	[data-id=month] {
        	color: @xx-lightGrayColor;
    	}
    	[data-id=day] {
        	color: @xxx-lightGrayColor;
    	}
    	
    	[data-id=popupmenubutton] {
    	}
	}

}
