html,
body {
  height: 100%;
}
#main-page {
  height: 100%;
}
#main-page [data-role=footer] {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  padding: 4px;
  text-align: center;
  background-image: none;
  background-color: transparent;
  border: none;
}
#main-page [data-role=footer] [data-id="startdate.button"],
#main-page [data-role=footer] [data-id="enddate.button"] {
  width: 12em;
  margin: 0px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
#main-page [data-role=footer] [data-id="startdate.button"] .year,
#main-page [data-role=footer] [data-id="enddate.button"] .year {
  color: #cdcdcd;
}
#main-page [data-role=footer] [data-id="startdate.button"] .day,
#main-page [data-role=footer] [data-id="enddate.button"] .day {
  color: #4d4d4d;
}
#main-page [data-role=footer] [data-id="startdate.button"] .year,
#main-page [data-role=footer] [data-id="enddate.button"] .year,
#main-page [data-role=footer] [data-id="startdate.button"] .day,
#main-page [data-role=footer] [data-id="enddate.button"] .day {
  text-shadow: 1px 1px 1px white;
  cursor: pointer;
}
#main-page [data-role=footer] [data-id="startdate.button"] .weekday,
#main-page [data-role=footer] [data-id="enddate.button"] .weekday {
  text-shadow: 1px 1px 1px white;
  cursor: default;
  color: #cdcdcd;
  font-size: 80%;
}
#main-page [data-role=footer] [data-id="view-group"] {
  cursor: pointer;
  width: 120px;
  display: inline-block;
  text-align: center;
  margin-right: 30px;
  padding: 2px;
  border-style: dashed;
  border-width: 1px;
  border-color: #b2c9f0;
}
#main-page [data-role=footer] [data-id="view-group"] div {
  color: #87ace7;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  opacity: 0.4;
}
#main-page [data-role=footer] [data-id="view-group"] div:hover,
#main-page [data-role=footer] [data-id="view-group"] div.selected {
  opacity: 0.8;
}
#main-page [data-role=footer] [data-id="containerforinput"] {
  width: 250px;
  display: inline-block;
}
#main-page [data-role=footer] [data-id="popup.div"] {
  display: inline-block;
  width: 100px;
  text-align: center;
}
#main-page [data-role=footer] [data-id="popup.div"] [data-id="popup.icon"] {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  color: #87ace7;
}
#main-page [data-role=footer] [data-id="popup.div"] [data-id="popup.icon"]:hover {
  opacity: 0.5;
}
#main-page [data-role="popup"] li a {
  text-align: center;
  padding: 10px;
}
#main-page [data-role="popup"] li a div {
  display: inline-block;
  font-size: 60px;
  color: #87ace7;
}
#main-page [data-role="popup"] li a div:hover {
  opacity: 0.5;
}
#main-page [data-id=desktopcontainer] {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 121px;
  border: 1px solid #cdcdcd;
}
#main-page [data-id=scale] {
  position: absolute;
  left: 10px;
  right: 10px;
  top: auto;
  height: 30px;
  bottom: 89px;
}
#main-page [data-id=slider] {
  position: absolute;
  left: 10px;
  right: 10px;
  top: auto;
  height: 25px;
  bottom: 62px;
}
#main-page [data-role=footer] [data-id=year] {
  color: #e6e6e6;
}
#main-page [data-role=footer] [data-id=month] {
  color: #cdcdcd;
}
#main-page [data-role=footer] [data-id=day] {
  color: #e6e6e6;
}
