@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-9.5px);
    -moz-transform: translateX(-9.5px);
    -ms-transform: translateX(-9.5px);
    -o-transform: translateX(-9.5px);
    transform: translateX(-9.5px);
  }
  40% {
    -webkit-transform: translateX(8.5px);
    -moz-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    -o-transform: translateX(8.5px);
    transform: translateX(8.5px);
  }
  60% {
    -webkit-transform: translateX(-6.5px);
    -moz-transform: translateX(-6.5px);
    -ms-transform: translateX(-6.5px);
    -o-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
  }
  80% {
    -webkit-transform: translateX(1.5px);
    -moz-transform: translateX(1.5px);
    -ms-transform: translateX(1.5px);
    -o-transform: translateX(1.5px);
    transform: translateX(1.5px);
  }
}
@-o-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-9.5px);
    -moz-transform: translateX(-9.5px);
    -ms-transform: translateX(-9.5px);
    -o-transform: translateX(-9.5px);
    transform: translateX(-9.5px);
  }
  40% {
    -webkit-transform: translateX(8.5px);
    -moz-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    -o-transform: translateX(8.5px);
    transform: translateX(8.5px);
  }
  60% {
    -webkit-transform: translateX(-6.5px);
    -moz-transform: translateX(-6.5px);
    -ms-transform: translateX(-6.5px);
    -o-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
  }
  80% {
    -webkit-transform: translateX(1.5px);
    -moz-transform: translateX(1.5px);
    -ms-transform: translateX(1.5px);
    -o-transform: translateX(1.5px);
    transform: translateX(1.5px);
  }
}
@-ms-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-9.5px);
    -moz-transform: translateX(-9.5px);
    -ms-transform: translateX(-9.5px);
    -o-transform: translateX(-9.5px);
    transform: translateX(-9.5px);
  }
  40% {
    -webkit-transform: translateX(8.5px);
    -moz-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    -o-transform: translateX(8.5px);
    transform: translateX(8.5px);
  }
  60% {
    -webkit-transform: translateX(-6.5px);
    -moz-transform: translateX(-6.5px);
    -ms-transform: translateX(-6.5px);
    -o-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
  }
  80% {
    -webkit-transform: translateX(1.5px);
    -moz-transform: translateX(1.5px);
    -ms-transform: translateX(1.5px);
    -o-transform: translateX(1.5px);
    transform: translateX(1.5px);
  }
}
@-moz-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-9.5px);
    -moz-transform: translateX(-9.5px);
    -ms-transform: translateX(-9.5px);
    -o-transform: translateX(-9.5px);
    transform: translateX(-9.5px);
  }
  40% {
    -webkit-transform: translateX(8.5px);
    -moz-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    -o-transform: translateX(8.5px);
    transform: translateX(8.5px);
  }
  60% {
    -webkit-transform: translateX(-6.5px);
    -moz-transform: translateX(-6.5px);
    -ms-transform: translateX(-6.5px);
    -o-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
  }
  80% {
    -webkit-transform: translateX(1.5px);
    -moz-transform: translateX(1.5px);
    -ms-transform: translateX(1.5px);
    -o-transform: translateX(1.5px);
    transform: translateX(1.5px);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-9.5px);
    -moz-transform: translateX(-9.5px);
    -ms-transform: translateX(-9.5px);
    -o-transform: translateX(-9.5px);
    transform: translateX(-9.5px);
  }
  40% {
    -webkit-transform: translateX(8.5px);
    -moz-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    -o-transform: translateX(8.5px);
    transform: translateX(8.5px);
  }
  60% {
    -webkit-transform: translateX(-6.5px);
    -moz-transform: translateX(-6.5px);
    -ms-transform: translateX(-6.5px);
    -o-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
  }
  80% {
    -webkit-transform: translateX(1.5px);
    -moz-transform: translateX(1.5px);
    -ms-transform: translateX(1.5px);
    -o-transform: translateX(1.5px);
    transform: translateX(1.5px);
  }
}
#login-page [data-role="content"] {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-width: 0px;
  text-align: center;
  font-size: 20px;
  /*
		.shake {
			-webkit-animation-name: shake;
			.animation-duration(0.5s);
		}
		.flash {
			.animation-name(flash);
			.animation-duration(2s);
		}
*/
}
