@import "../../css/bookio.less";

#login-page {
    
    
	p {
    	color: @lightGrayColor;
    	font-size: 14px;
	}
    
    
    [data-role="content"] {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    [data-id="logo"] {
        text-align: center;
    }

    [data-id="popup.content"] {
        max-width: 400px;
        
        [data-id="popup.message"] {
            white-space: normal;
            font-weight: normal;
            
        }
    }
	
}
