@import "../../css/bookio.less";


[data-role="list"] {

	li {

		img.ui-li-thumb {
			padding: 0.5em;
			max-width: 4em !important;
			max-height: 4em !important;
		    top:0px;
		    bottom:0px;
		    margin:auto;
		}

		.subtitle {
			white-space: normal;
		}
	}

}