@import "../../css/bookio.less";


[data-role="list"] {

		

	.image {
		padding: 0.5em;
		max-width: 5em !important;
		max-height: 5em !important;
	    top:0px;
	    bottom:0px;
	    margin:auto;
	}


	.subtitle {
		white-space: normal;
	}

}