@import "../../css/bookio.less";


.shake(@size:10px) {
	0%, 100% {
		.transform(translateX(0));
	}

	10% {
		.transform(translateX(1.00 * @size));
		
	}
	20% {
		.transform(translateX(-0.95 * @size));
		
	}
	40% {
		.transform(translateX(0.85 * @size));
		
	}
	60% {
		.transform(translateX(-0.65 * @size));
		
	}
	80% {
		.transform(translateX(0.15 * @size));
	}
}


@keyframes shake {.shake(10px);}
@-o-keyframes shake {.shake(10px);}
@-ms-keyframes shake {.shake(10px);}
@-moz-keyframes shake {.shake(10px);}
@-webkit-keyframes shake {.shake(10px);}




#signup-page {

	background-color: @blue-bg;

    .logo {
        position: absolute;
    }

	img {
		display: block;
		margin: auto auto;
	}
	
    hr {
	    border: none;
	    height: 1px;
	    background-color: @blue-bg-dark;
	}

    p {
    	color: @blue-medium;
    	font-size: 18px;
	    text-align: left;	 
	    line-height: 1.4em;   
	    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;	    	    
    }

    p.first {
	    margin-top: 0px;
    }
    
    h1 {
    	color: @blue-dark;
    	font-size: 50px;
	    text-align: center;
	    line-height: 1.1em;
	    clear: left;
    }
    
    h1.heading {
    	font-size: 35px;
	    text-align: left;	    
	    margin-bottom: 0px;
    }
        
    h3 {
    	color: @blue-dark;
    	font-size: 24px;
    	font-weight: bold;
	    text-align: center;	    
	    margin: 0px;
    }

    h4 {
    	color: @blue-lighter;
    	font-size: 16px;
    	font-style: italic; 
	   	margin: 0px;
	   	text-align: center;	
    }
    
    h5 {
    	color: @blue-light;
    	font-size: 16px;
	    text-align: left;	    
	    padding-left: 4em;
	    padding-right: 3em;
	    margin: 0px;
	    line-height: 1.2em;
    }

    a.login {
    	color: @blue-light;
    	font-size: 12px;
    	font-weight: normal;
	    text-align: left;	 
	    text-decoration: none;   
	    
    }

    a.login:hover {
    	color: @blue-dark;	    
    	cursor: pointer;
    	text-decoration: underline;
    } 
    
    p.txt {
	    font-family: 'Indie Flower', cursive;	    
    	color: @blue-ink;
    	font-size: 28px;
	    text-align: left;
	    margin: 0;
	    margin-left: 2em;
	    line-height: 1.1em;
    }
    
    .container {
	    display: table;
    }
    
    .text {
		vertical-align: middle;
		display: table-cell;
    }
    
    .image {
	    vertical-align: middle;
	    display: table-cell;
	    padding-left: 8px;
    }
    
    .white {
    	color: white;    
    }
    
    img.left {
    	float: left;
		vertical-align: middle;
    }
    
    section.picture-macbook {
		background-image: url('images/usp-macbook.png');
		background-repeat: no-repeat;
		background-position: right;	 
		overflow: visible;   
    }

    section.right {
	    max-width:34em !important;
	    margin-left: auto;
		margin-right: 0px;
		padding:0 1em !important;		
    }
    
    .more-margin {
		margin-left: 43em !important;    
    }

    .more-margin-right {
		margin-right: 35em !important;    
    }
    
    .push-text-down {
		position: relative;
		top: 100px;			    
    }

    section.left {
	    max-width:34em !important;
	    margin-left: 0px;
		margin-right: auto;
		padding:0 1em !important;
    }

	label {
    	color: @blue-light;
    	font-size: 20px;
    	white-space: nowrap;  
	}
	
	label.gentle-text {
    	color: @blue-lighter;
    	font-size: 12px;	
    	text-align: right;	
    	font-weight: normal;
    	margin-top: -1em;
	}



    [data-role="content"] {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        text-align: right;
        border-width: 0px;
                
        font-size: 20px;
    }
    
	
}
