@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-9.5px);
    -moz-transform: translateX(-9.5px);
    -ms-transform: translateX(-9.5px);
    -o-transform: translateX(-9.5px);
    transform: translateX(-9.5px);
  }
  40% {
    -webkit-transform: translateX(8.5px);
    -moz-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    -o-transform: translateX(8.5px);
    transform: translateX(8.5px);
  }
  60% {
    -webkit-transform: translateX(-6.5px);
    -moz-transform: translateX(-6.5px);
    -ms-transform: translateX(-6.5px);
    -o-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
  }
  80% {
    -webkit-transform: translateX(1.5px);
    -moz-transform: translateX(1.5px);
    -ms-transform: translateX(1.5px);
    -o-transform: translateX(1.5px);
    transform: translateX(1.5px);
  }
}
@-o-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-9.5px);
    -moz-transform: translateX(-9.5px);
    -ms-transform: translateX(-9.5px);
    -o-transform: translateX(-9.5px);
    transform: translateX(-9.5px);
  }
  40% {
    -webkit-transform: translateX(8.5px);
    -moz-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    -o-transform: translateX(8.5px);
    transform: translateX(8.5px);
  }
  60% {
    -webkit-transform: translateX(-6.5px);
    -moz-transform: translateX(-6.5px);
    -ms-transform: translateX(-6.5px);
    -o-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
  }
  80% {
    -webkit-transform: translateX(1.5px);
    -moz-transform: translateX(1.5px);
    -ms-transform: translateX(1.5px);
    -o-transform: translateX(1.5px);
    transform: translateX(1.5px);
  }
}
@-ms-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-9.5px);
    -moz-transform: translateX(-9.5px);
    -ms-transform: translateX(-9.5px);
    -o-transform: translateX(-9.5px);
    transform: translateX(-9.5px);
  }
  40% {
    -webkit-transform: translateX(8.5px);
    -moz-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    -o-transform: translateX(8.5px);
    transform: translateX(8.5px);
  }
  60% {
    -webkit-transform: translateX(-6.5px);
    -moz-transform: translateX(-6.5px);
    -ms-transform: translateX(-6.5px);
    -o-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
  }
  80% {
    -webkit-transform: translateX(1.5px);
    -moz-transform: translateX(1.5px);
    -ms-transform: translateX(1.5px);
    -o-transform: translateX(1.5px);
    transform: translateX(1.5px);
  }
}
@-moz-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-9.5px);
    -moz-transform: translateX(-9.5px);
    -ms-transform: translateX(-9.5px);
    -o-transform: translateX(-9.5px);
    transform: translateX(-9.5px);
  }
  40% {
    -webkit-transform: translateX(8.5px);
    -moz-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    -o-transform: translateX(8.5px);
    transform: translateX(8.5px);
  }
  60% {
    -webkit-transform: translateX(-6.5px);
    -moz-transform: translateX(-6.5px);
    -ms-transform: translateX(-6.5px);
    -o-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
  }
  80% {
    -webkit-transform: translateX(1.5px);
    -moz-transform: translateX(1.5px);
    -ms-transform: translateX(1.5px);
    -o-transform: translateX(1.5px);
    transform: translateX(1.5px);
  }
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  10% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-9.5px);
    -moz-transform: translateX(-9.5px);
    -ms-transform: translateX(-9.5px);
    -o-transform: translateX(-9.5px);
    transform: translateX(-9.5px);
  }
  40% {
    -webkit-transform: translateX(8.5px);
    -moz-transform: translateX(8.5px);
    -ms-transform: translateX(8.5px);
    -o-transform: translateX(8.5px);
    transform: translateX(8.5px);
  }
  60% {
    -webkit-transform: translateX(-6.5px);
    -moz-transform: translateX(-6.5px);
    -ms-transform: translateX(-6.5px);
    -o-transform: translateX(-6.5px);
    transform: translateX(-6.5px);
  }
  80% {
    -webkit-transform: translateX(1.5px);
    -moz-transform: translateX(1.5px);
    -ms-transform: translateX(1.5px);
    -o-transform: translateX(1.5px);
    transform: translateX(1.5px);
  }
}
#signup-page {
  background-color: #d1e8ff;
}
#signup-page .logo {
  position: absolute;
}
#signup-page img {
  display: block;
  margin: auto auto;
}
#signup-page hr {
  border: none;
  height: 1px;
  background-color: #c4dbf2;
}
#signup-page p {
  color: #6b8299;
  font-size: 18px;
  text-align: left;
  line-height: 1.4em;
  font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}
#signup-page p.first {
  margin-top: 0px;
}
#signup-page h1 {
  color: #526980;
  font-size: 50px;
  text-align: center;
  line-height: 1.1em;
  clear: left;
}
#signup-page h1.heading {
  font-size: 35px;
  text-align: left;
  margin-bottom: 0px;
}
#signup-page h3 {
  color: #526980;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}
#signup-page h4 {
  color: #9eb5cc;
  font-size: 16px;
  font-style: italic;
  margin: 0px;
  text-align: center;
}
#signup-page h5 {
  color: #859cb3;
  font-size: 16px;
  text-align: left;
  padding-left: 4em;
  padding-right: 3em;
  margin: 0px;
  line-height: 1.2em;
}
#signup-page a.login {
  color: #859cb3;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  text-decoration: none;
}
#signup-page a.login:hover {
  color: #526980;
  cursor: pointer;
  text-decoration: underline;
}
#signup-page p.txt {
  font-family: 'Indie Flower', cursive;
  color: #094581;
  font-size: 28px;
  text-align: left;
  margin: 0;
  margin-left: 2em;
  line-height: 1.1em;
}
#signup-page .container {
  display: table;
}
#signup-page .text {
  vertical-align: middle;
  display: table-cell;
}
#signup-page .image {
  vertical-align: middle;
  display: table-cell;
  padding-left: 8px;
}
#signup-page .white {
  color: white;
}
#signup-page img.left {
  float: left;
  vertical-align: middle;
}
#signup-page section.picture-macbook {
  background-image: url('images/usp-macbook.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  overflow: auto;
}
#signup-page section.right {
  max-width: 34em !important;
  margin-left: auto;
  margin-right: 0px;
  padding: 0 1em !important;
}
#signup-page .more-margin {
  margin-left: 43em !important;
}
#signup-page .more-margin-right {
  margin-right: 35em !important;
}
#signup-page .push-text-down {
  position: relative;
  top: 100px;
}
#signup-page section.left {
  max-width: 34em !important;
  margin-left: 0px;
  margin-right: auto;
  padding: 0 1em !important;
}
#signup-page label {
  color: #859cb3;
  font-size: 20px;
  white-space: nowrap;
}
#signup-page label.gentle-text {
  color: #9eb5cc;
  font-size: 12px;
  text-align: right;
  font-weight: normal;
  margin-top: -1em;
}
#signup-page [data-role="content"] {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  border-width: 0px;
  font-size: 20px;
}
