@import "../less/mixins.less";
@import "../less/variables.less";

.date-range-picker {
    position: relative;
    left:0px;
    top:0px;
    right:0px;
    bottom:0px;
    text-align: center;
}

.date-range-picker  span  {
    color: white; //@lightGrayColor;
}


.date-range-picker .start.date {
    //text-align: right;
}

.date-range-picker .end.date {
    //text-align: left;
}

.date-range-picker .separator {
	color: @xx-lightGrayColor;
}

.date-range-picker .year {
	color: @xx-lightGrayColor;
}

.date-range-picker .day {
	color: @x-darkGrayColor; 
}

.date-range-picker .year, .date-range-picker .day {
	text-shadow: 1px 1px 1px white;
	cursor: pointer;
}

.date-range-picker .weekday {
	text-shadow: 1px 1px 1px white;
	cursor: default;
	color: @xx-lightGrayColor;
	font-size: 80%;

}

.date-range-picker span {
	top:0px;
	bottom:0px;
}
