@import "../less/mixins.less";
@import "../less/variables.less";

.date-picker {

	padding-bottom: 0.25em;

    //.drop-shadow(1px, 1px, 4px, 1px, hsla(0, 0, 0, 20%));
    //.vertical-gradient(@xxxx-lightGrayColor, @xxx-lightGrayColor);
    //.border-radius(8px);

	table {
		table-layout: fixed;
		border-collapse:separate;
		border-spacing: 0.2em;
		//line-height: 150%;
		//font-size: 135%;
	}
	
    th, tr, td {
    	padding: 0.3em;
    }	
    
    tr {
        height:2em;	    
    }
    
    td {
        width:2em;	    
    }

    thead  {
    }
    
    tbody {

    }
	.scroll {
    	cursor: pointer;
    	opacity: 0.4;
	}

	.scroll:hover {
    	opacity: 0.8;
	}
	
	.title {
    	text-align: center;
    	color:@lightGrayColor;
	}
	

	.daynames {
	   max-height:15px;
	}	

	.dayname {
    	color:@x-lightGrayColor;
    	font-size: 80%;
    	max-height:15px;
	}

	
	.weeknumber, .padding {
    	color:@xx-lightGrayColor;
    	font-size: 70%;
        text-align: right;
	}
	

	.day {
        text-align: right;
        color: @darkGrayColor;
        border: 1px solid transparent;
		
		&.holiday {
		    color: @alertColor;
		}
		
		&.bold {
		    font-weight: bold;
		}
		
		&.grayed {
		    color: fadeout(@darkGrayColor, 30%);
		}
		
		&.disabled {
		    color: fadeout(@darkGrayColor, 50%);
		}
		
		&.selected {
		    border: 1px solid fadeout(@disabledColor, 80%);
		    background: fadeout(@disabledColor, 80%);
			//.inner-shadow(0px, 0px, 2px, 2px, fadeout(white, 70%));	
		}
		
		&.grayed.holiday {
		    color: fadeout(mix(@darkGrayColor, @alertColor), 85%);
		}
		
	    &:not(.grayed):hover {
			cursor:pointer;
			color: @hoverTextColor;
			text-shadow: none;
			.vertical-gradient(@hoverBackgroundColor, darken(@hoverBackgroundColor, 5%));
			.border-radius(1px);

	    }    	
	    
	    &.grayed:hover {
			cursor:pointer;
			color: @hoverTextColor;
			text-shadow: none;
			.vertical-gradient(@xx-lightGrayColor, darken(@xx-lightGrayColor, 5%));
			.border-radius(1px);

	    }    	
	}

	
	
}
