@import "../less/mixins.less";
@import "../less/variables.less";

.desktop {
    position: absolute;
    top:0px;left:0px;right:0px;bottom:0px;
    overflow:hidden;

}

.desktop.editMode {

	outline: 2px solid @bookioGreen;
	outline-offset: -2px;
		
}

.desktop .watermark {
	position: absolute;
    top:0px;left:0px;right:0px;bottom:0px;
	background: no-repeat center;
}

.desktop .introText {
	position: absolute;
    top:80px;left:auto;right:90px;bottom:auto;
    width: 500px;
    height: 200px;
	background: no-repeat center;
}

.desktop .introArrow {
	position: absolute;
    top:50px;left:auto;right:20px;bottom:auto;
    width: 200px;
    height: 110px;
	background: no-repeat center;
}

.desktop .introHouse {
	position: absolute;
    top:243px;left:auto;right:503px;bottom:auto;
	opacity:0.8;
	width: 94px;
    height: 58px;
}

.desktop .introMan {
	position: absolute;
    top:243px;left:auto;right:415px;bottom:auto;
	opacity:0.8;
	width: 59px;
    height: 57px;
}

.desktop .introSquash {
	position: absolute;
    top:243px;left:auto;right:336px;bottom:auto;
	opacity:0.8;
	width: 58px;
    height: 58px;
}

.desktop .introBike {
	position: absolute;
    top:243px;left:auto;right:235px;bottom:auto;
	opacity:0.8;
	width: 88px;
    height: 58px;
}

.desktop .introCar {
	position: absolute;
    top:255px;left:auto;right:80px;bottom:auto;
	opacity:0.8;
	width: 143px;
    height: 45px;
}


.desktop .background {
	position:absolute;
	left:0px;top:0px;right:0px;bottom:0px;
}



.desktop .item {
    position: absolute;
    width:100px;
    height:100px;
    
    //border: 1px solid black;
    text-align: center;
    padding: 0px;          
    margin: 0px;
}

.desktop .addButton {
	position: absolute;
    top:4px;left:auto;right:53px;bottom:auto;
	cursor: pointer;
	opacity:0.8;
	
}

.desktop .addButton:hover {
	opacity: 1.0;
	
}

.desktop .closeButton {
	position: absolute;
    top:4px;left:auto;right:4px;bottom:auto;
	cursor: pointer;
	opacity:0.8;
	
}

.desktop .closeButton:hover {
	opacity: 1.0;
	
}



.desktop .item.disabled {
    opacity: 0.3;
}

.desktop .item .title.selected {    
    color: white;
    //background-color: #3875d7;
    background-color: @bookioBlue;
    text-shadow: none;

}

.desktop .item .title {
    margin-left: 5px;
    margin-right: 5px;
    .border-radius(8px);
    max-width: 82px;
    display: inline-block;
	font-size: 11px;
	text-align: center;
	padding: 2px 4px;
	line-height: 13px;
	color: @darkGrayColor;
	max-height: 26px;
	text-overflow: ellipsis;
	overflow:hidden; 
	
}


.desktop .item .icon {
    margin:5px;
    width:50px;
    height:50px;
    border: 2px solid white;
    .drop-shadow(1px, 1px, 4px, 1px, hsla(0, 0, 0, 20%));
    .vertical-gradient(@xxxx-lightGrayColor, @xxx-lightGrayColor);
    .border-radius(8px);
    display: inline-block;
    
	img {
    	margin: 5px;
        width: 40px;
        height:40px;
	}
}
   
/*
.desktop img {
    position: absolute;
    margin: auto;
    top:0px;left:0px;right:0px;bottom:0px;
}

.desktop img.icon {
    width:auto;
    height:auto;
    position:relative;    
}

*/

.desktop .item .icon:hover {
    cursor: pointer;
 }
