@import "../bookio.less";

.desktop {
    position: absolute;
    top:0px;left:0px;right:0px;bottom:0px;
    background-image: url(../images/patterns/snow.png);
    overflow:hidden;

}

.desktop .watermark {
	position: absolute;
    top:0px;left:0px;right:0px;bottom:0px;
	background: no-repeat center;
}

.desktop .background {
	position:absolute;
	left:0px;top:0px;right:0px;bottom:0px;
}

.desktop .item {

    position:absolute;
	border: 2px solid white;

    .drop-shadow(1px, 1px, 4px, 1px, hsla(0, 0, 0, 20%));
    .vertical-gradient(@xxxx-lightGrayColor, @xxx-lightGrayColor);
    .border-radius(10px);
    
}


.desktop .addButton {
	position: absolute;
    top:2px;left:auto;right:51px;bottom:2px;
	cursor: pointer;
	opacity:0.8;
	
}

.desktop .addButton:hover {
	opacity: 1.0;
	
}

.desktop .closeButton {
	position: absolute;
    top:2px;left:auto;right:2px;bottom:auto;
	cursor: pointer;
	opacity:0.8;
	
}

.desktop .closeButton:hover {
	opacity: 1.0;
	
}


.desktop .deleteItem {
	display: inline-block;
	position:relative;
	left:-10px;
	top:-10px;
}


.desktop .item.disabled {
    opacity: 0.3;
}

.desktop .item .title.selected {    
    color: white;
    background-color: #3875d7;
}

.desktop .item .title {
	font-size: 10.5px;
    border: 1px solid transparent;
	position: absolute;
	text-align: center;
	padding: 0.2em 0.9em;
	line-height: 120%;
	color: @darkGrayColor;
	vertical-align: middle;
//	max-width:40px;
//	text-overflow: ellipsis;
	
	.border-radius(0.9em);
}

.desktop img {
    position: absolute;
    margin: auto;
    top:0px;left:0px;right:0px;bottom:0px;
}

.desktop img.icon {
    width:auto;
    height:auto;
    position:relative;    
}

.desktop .item:hover {
    cursor: pointer;
 }