<div class="listbox">
    <table>
        <thead>
            <tr class="daynames">
                <th class="dayname">&nbsp;</th>
                <th class="dayname">Må</th>
                <th class="dayname">Ti</th>
                <th class="dayname">On</th>
                <th class="dayname">To</th>
                <th class="dayname">Fr</th>
                <th class="dayname">Lö</th>
                <th class="dayname">Sö</th>
                <th class="dayname">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="weeknumber">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day holiday">X</td>
                <td class="day holiday">X</td>
                <td class="padding"></td>
            </tr>
            <tr>
                <td class="weeknumber">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day holiday">X</td>
                <td class="day holiday">X</td>
                <td class="padding"></td>
            </tr>
            <tr>
                <td class="weeknumber">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day holiday">X</td>
                <td class="day holiday">X</td>
                <td class="padding"></td>
            </tr>
            <tr>
                <td class="weeknumber">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day holiday">X</td>
                <td class="day holiday">X</td>
                <td class="padding"></td>
            </tr>
            <tr>
                <td class="weeknumber">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day holiday">X</td>
                <td class="day holiday">X</td>
                <td class="padding"></td>
            </tr>
            <tr>
                <td class="weeknumber">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day">X</td>
                <td class="day holiday">X</td>
                <td class="day holiday">X</td>
                <td class="padding"></td>
            </tr>
        </tbody>
    </table>
</div>

