@import "../bookio.less";


div[data-id="listbox"] {

    height:100%;
    width:100%;
    position: relative;
    

    .header {
        div {
            display: inline-block;
            height:1.5em;
            vertical-align: middle;
        }
    }
    
    div[data-id="list"] {
        background: white;
        overflow-y: auto;
        position: absolute;
        top:0px;
        bottom:25px;
        right:0px;
        left:0px;
        display: block;
        border: 1px solid @xx-lightGrayColor;

        table {
            padding: 4px;
            width:100%;
            border-collapse:separate;
            line-height: 95%;

            th, tr, td {
                padding: 0.3em;
            }   
    
            thead  {
                tr {
                }
                td {
                    background-color: @xxx-lightGrayColor;
                }
                
            }
            
            tbody {
    
                td {
                    height:1.2em;
                }
                     
                tr {
                }
                
                tr:nth-child(even) {
                  background-color: fadeout(@bookioDarkerBlue, 95%);
                }
        
                tr.selected {
                    background: @bookioDarkerBlue;
                    color: white;  
                }
                tr:not(.selected):hover {
                    background-color: fadeout(@bookioDarkerBlue, 90%); //rgba(0,0,235,0.9);
                }
            }
        }
        
    }
    
    div[data-id="footer"] {
        position: absolute;
        height:25px;
        width:100%;
        bottom:0px;
        top:auto;
        display: table;
        border: 1px solid @xx-lightGrayColor;
        //border-top: none;
        .vertical-gradient(@xxxx-lightGrayColor, @xxx-lightGrayColor);

        div:hover {
            .vertical-gradient(darken(@xxxx-lightGrayColor, 5%), darken(@xxx-lightGrayColor, 5%));
            cursor: pointer;
        }
        
        div {
            border-right: 1px solid @xx-lightGrayColor;
            display: inline-block;
            height:100%;
            width:25px;
            line-height: 25px;
            text-align: center;
            vertical-align: middle;            
        }



    }

    
    
}
