@import "../bookio.less";


.listbox {

	height:100%;
	width:100%;
    	outline: 1px solid green;
    	outline-offset: -1px;
    	background: white;
    position: relative;
    
    .header {
        div {
            display: inline-block;
            height:1.5em;
            vertical-align: middle;
        }
    }
    
    .list {
    	overflow-y: auto;
    	position: absolute;
    	top:0px;
    	bottom:80px;
    	right:0px;
    	left:0px;
    	display: block;
    	outline: 1px solid red;
    	outline-offset: -1px;
        
    	table {
            padding: 4px;
            width:100%;
    		border-collapse:separate;
    		line-height: 95%;
    	}
    	
        th, tr, td {
        	padding: 0.3em;
        }	

        thead  {
            tr {
            }
            td {
                background-color: @xxx-lightGrayColor;
            }
            
        }
        
        tbody {

            td {
            }            
            tr {
            }
            tr:nth-child(even) {
              background-color: fadeout(@bookioDarkerBlue, 95%);
            }
    
            tr.selected {
                background: @bookioDarkerBlue;
                color: white;  
            }
            tr:not(.selected):hover {
                background-color: fadeout(@bookioDarkerBlue, 90%); //rgba(0,0,235,0.9);
            }
        }
    
    }
    
    .footer {
        position: absolute;
        height:80px;
        width:100%;
        bottom:0px;
        top:auto;
    
    	div {
    	   
    	    width:30px;
    	    height:30px;
    	    top:0px;
    	    bottom:0px;
        	vertical-align: middle;
        	display: inline-block;
        	outline: 1px solid red;
        	margin: auto;
     
        	
    	}
    }

	
	
}
