@import "../less/mixins.less";
@import "../less/variables.less";

[data-role="popup"] {

	[data-hook="msgbox"] {
		padding: 0.5em;
	
		[data-hook="content"] {
		
			display: table-row;
	
			[data-hook="icon.container"] {
				display: table-cell;
				vertical-align: middle;
			}	
	
			[data-hook="message"] {
	
				white-space: normal;
				color: @darkGrayColor;
				max-width: 300px;
				display: table-cell;
				vertical-align: middle;
				padding: 0.5em;
			}	
		}
		
	    [data-hook="buttons"] {
		    text-align: center;
		    padding-top: 0.5em;
	
		    [data-role="button"]  {
				.border-radius(1.2em);
				min-width: 6em;
		    }
	    }		
		
	}

}


