@import "../less/mixins.less";
@import "../less/variables.less";

[data-role="popup"] {

	[data-id="msgbox"] {
		padding: 0.5em;
	
		[data-id="content"] {
		
			display: table-row;
	
			[data-id="icon.container"] {
				display: table-cell;
				vertical-align: middle;
			}	
	
			[data-id="text"] {
	
				white-space: normal;
				color: black;
				max-width: 300px;
				display: table-cell;
				vertical-align: middle;
				padding: 0.5em;

				[data-id="title"] {
					font-weight: bold !important;
					color: @xxx-darkGrayColor !important;
				}
				
				[data-id="message"] {
					color: @darkGrayColor !important;
				}
				
			}	
		}
		
	    [data-id="buttons"] {
		    text-align: center;
		    padding-top: 0.5em;
	
		    [data-role="button"]  {
				.border-radius(1.2em);
				min-width: 6em;
		    }
	    }		
	}
}


