

<div data-role="msgbox">
	
	<div data-hook="content">
		<div data-hook="icon">
			<!--
			<img src="../images/app-icon.png"/>
			-->
			<div class="icon-warning">
			</div>
		</div>
	
		<div data-hook="message">
			Är du säker på att du vill radera? asdfl asdf asdlfkjasdlfk f sdf slfkf sldkf lsdf slfllf s dslf lsd jaslödfk sdflksdjflsdkf lk
		</div>
	</div>

    <div data-hook="buttons">
    	<a data-hook="back" data-role="button" data-mini="true" data-inline="true">OK</a>
    	<a data-hook="save" data-role="button" data-mini="true" data-inline="true">Avbryt</a>
    </div>	 
</div>

