[data-role="popup"] [data-id="msgbox"] {
  padding: 0.5em;
}
[data-role="popup"] [data-id="msgbox"] [data-id="content"] {
  display: table-row;
}
[data-role="popup"] [data-id="msgbox"] [data-id="content"] [data-id="icon.container"] {
  display: table-cell;
  vertical-align: middle;
}
[data-role="popup"] [data-id="msgbox"] [data-id="content"] [data-id="text"] {
  white-space: normal;
  color: black;
  max-width: 300px;
  display: table-cell;
  vertical-align: middle;
  padding: 0.5em;
}
[data-role="popup"] [data-id="msgbox"] [data-id="content"] [data-id="text"] [data-id="title"] {
  font-weight: bold !important;
  color: #1a1a1a !important;
}
[data-role="popup"] [data-id="msgbox"] [data-id="content"] [data-id="text"] [data-id="message"] {
  color: #676767 !important;
}
[data-role="popup"] [data-id="msgbox"] [data-id="buttons"] {
  text-align: center;
  padding-top: 0.5em;
}
[data-role="popup"] [data-id="msgbox"] [data-id="buttons"] [data-role="button"] {
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
  min-width: 6em;
}
