@import "../bookio.less";

.notify {
    .border-radius(20px);
    background-color: @bookioBlue;
    display:none;
    color:white;
    opacity: 0.5;
    position: fixed;
    border:3px solid white;
    max-width: 13em;
    min-width: 13em;
    margin:0 auto;
    padding: 10px;
    font-size: large;
    z-index: 99999999;
    text-align: center;

    .message {
    }
    
    .year {
        opacity: 0.3;
    }
}