@import "../bookio.less";



.popup-menu {

    margin:0px;
    min-width:150px;
    max-width:150px;



    ul {
        list-style-type: none;
        list-style: none;
        margin:0px;
    }
    
    li {
    }

	// type:menuitem
    li.menuitem {
	    vertical-align: middle;
	    width:100%;
	}

    li.menuitem:not(.disabled):hover {
	    cursor:pointer;
	    color: @hoverTextColor;
	    .vertical-gradient(@bookioBlue, darken(@bookioBlue, 5%));
	    .border-radius(1px);
	    
	}

    li.menuitem.large div.text {
        font-size: x-large;    
    }
    

	li.menuitem.disabled {
    	opacity: 0.3;
	}
	
	li.menuitem div.text {
	
	    vertical-align: middle;
        padding-left:0.5em;
        padding-right:0.5em;
        left:0.5em;
        right:0.5em;
        
	}
	
    li.menuitem div.icon {
	    vertical-align: middle;
        padding-left:0.5em;
        padding-right:0.5em;
        padding-top:1em;
        padding-bottom:1em;
        text-align: center;
	}

    li.menuitem div.icon img {
        max-height:100%;
        max-width:100%;
    }
    
    //type::checkbox
    li.checkbox {
        padding-left:1em;
    }

    li.checkbox input {
        margin-left:0px;
        padding-right: 10px;
    }
    li.checkbox label {
        padding-left:1.5em;
    }
    
    // type:text
    li.text div {
        padding-left:0.5em;
        padding-right:0.5em;
        //padding:0.5em;
	}


    
    // type:button
    li.button  {
        padding:0.5em;
        text-align: center;

        button {
    	   height:100%;
    	   padding-left: 1em;
    	   padding-right: 1em;
    	   .border-radius(100px);
           min-width: 50%;
        }
    }
	    
    li.separator {
    	height: 1px;
    	background: @xxx-lightGrayColor;
    	margin-top:0.4em;
    	margin-bottom:0.4em;
    	overflow: hidden;
        
    }
}

