/*

@keyframes fadeIn,
@-moz-keyframes fadeIn,
@-webkit-keyframes fadeIn,
@-o-keyframes fadeIn {
	0% {
		background-color: red; //lighten(@bookioBlue, 25%);
		
	}
	100% {
		background-color: blue; //lighten(@bookioBlue, 10%);
		
	}
}

@keyframes fadeOut,
@-moz-keyframes fadeOut,
@-webkit-keyframes fadeOut,
@-o-keyframes fadeOut {
	0% {
		background-color: lighten(@bookioBlue, 10%);
		
	}
	100% {
		background-color: lighten(@bookioBlue, 25%);
		
	}
}
*/
#schedule-page .buttons .button {
  margin: 0.5em;
}
#schedule-page .buttons .button.selected {
  outline: 2px solid #87ace7;
  outline-offset: 4px;
}
