@import "../../css/bookio.less";
/*

@keyframes fadeIn,
@-moz-keyframes fadeIn,
@-webkit-keyframes fadeIn,
@-o-keyframes fadeIn {
	0% {
		background-color: red; //lighten(@bookioBlue, 25%);
		
	}
	100% {
		background-color: blue; //lighten(@bookioBlue, 10%);
		
	}
}

@keyframes fadeOut,
@-moz-keyframes fadeOut,
@-webkit-keyframes fadeOut,
@-o-keyframes fadeOut {
	0% {
		background-color: lighten(@bookioBlue, 10%);
		
	}
	100% {
		background-color: lighten(@bookioBlue, 25%);
		
	}
}
*/


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#schedule-page {

	.schedule {
		padding: 0.5em;
		
		&.active {
		   display: block;
		    .animation(fadeIn 1s);
		}

		&.week {
			&:not(.active) {
				display:none;
			}
		}

		&.day {
			
			&:not(.active) {
				display:none;
			}
		}
	}
			
	

	.buttons {
		.button {
			margin: 0.5em;
			
			&.selected {
				outline: 2px solid @bookioBlue;
				outline-offset: 4px;
			}
			
		}
	}


	
}