@import "../../css/bookio.less";

#categories-page {

	
    [data-id="url"] {
        .user-select(text);
    }

    /*
    ul {
        
        li {
            
            p {
                display: inline;
            }
            
            img {
                .border-radius(8px);
			    position:absolute;
			    top:0;
			    bottom:0;
			    margin:auto;
			    left:10px;
                max-width:80px;
                max-height:80px;
            }  
        } 
    } 
    */   
}