@import "../../css/bookio.less";


@lightSliderColor: @bookioLighterBlue;
@darkSliderColor: @bookioBlue;

[data-role="timeslider"] {
	
	position: relative;
	
	.container {
	    position: absolute;
	    left:0px;
	    top:0px;
	    right:0px;
	    bottom:0px;
	    width:100%;
	    height:100%;
	
	    display: table;
	    .vertical-gradient(@xx-lightGrayColor, @xxx-lightGrayColor);
	    border: 1px solid @xx-lightGrayColor;

	
		div {
		    
		}
		.slider-container {
		    //.vertical-gradient(@xx-lightGrayColor, @xxx-lightGrayColor);
		    position: relative;
		    display: table-cell;
		    height:100%;
		}
		
		
		.scroll {
		    width:20px;
		    height:100%;
		    display: table-cell;
		    vertical-align: middle;
		    opacity: 0.3;
		    text-align: center;
		    cursor: pointer;
		    position:relative;
		}
		
		.scroll.right {
		}
		
		.scroll.left {
		}
		
		.slider {
			position: absolute;
		    left:0px;
		    right:0px;
		    top:0px;
		    bottom:0px;
		    height:100%;
		    margin-bottom: auto;
		    margin-top:auto;
		    cursor: pointer;

		    // Make it draw over the right chevron
		    z-index: 1;
		    
		    .vertical-gradient(@lightSliderColor, @darkSliderColor);
			.drop-shadow(0px, 0px, 2px, 1px, fadeout(black, 85%));	
		}
		
		.icon-chevron-right {
		    height:100%;
		}
		
		.icon-chevron-left {
		    height:100%;
		}
		
		
		.gripper {
			position: absolute;
			width:25px;
			height:25px;
			top:0px;
			bottom:0px;
			right:0px;
			left:auto;
			margin:auto;
			margin-right:0.5em;
		    .vertical-gradient(@darkSliderColor, @lightSliderColor);
		    .border-radius(100px);
			.inner-shadow(0px, 0px, 2px, 2px, fadeout(white, 95%));	
		}
	



	}
	
	
}
