[data-role="timeslider"] {
  position: relative;
}
[data-role="timeslider"] .container {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  display: table;
  background-color: #d7d7d7;
  background-image: -moz-linear-gradient(top, #cdcdcd, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cdcdcd), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #cdcdcd, #e6e6e6);
  background-image: -o-linear-gradient(top, #cdcdcd, #e6e6e6);
  background-image: linear-gradient(to bottom, #cdcdcd, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cdcdcd;
}
[data-role="timeslider"] .container .slider-container {
  position: relative;
  display: table-cell;
  height: 100%;
}
[data-role="timeslider"] .container .scroll {
  width: 20px;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  opacity: 0.3;
  text-align: center;
  cursor: pointer;
  position: relative;
}
[data-role="timeslider"] .container .slider {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  margin-bottom: auto;
  margin-top: auto;
  cursor: pointer;
  z-index: 1;
  background-color: #1f1feb;
  background-image: -moz-linear-gradient(top, #3333ff, #0000cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3333ff), to(#0000cc));
  background-image: -webkit-linear-gradient(top, #3333ff, #0000cc);
  background-image: -o-linear-gradient(top, #3333ff, #0000cc);
  background-image: linear-gradient(to bottom, #3333ff, #0000cc);
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15000000000000002);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15000000000000002);
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.15000000000000002);
}
[data-role="timeslider"] .container .icon-chevron-right {
  height: 100%;
}
[data-role="timeslider"] .container .icon-chevron-left {
  height: 100%;
}
[data-role="timeslider"] .container .gripper {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: auto;
  margin: auto;
  margin-right: 0.5em;
  background-color: #1414e0;
  background-image: -moz-linear-gradient(top, #0000cc, #3333ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0000cc), to(#3333ff));
  background-image: -webkit-linear-gradient(top, #0000cc, #3333ff);
  background-image: -o-linear-gradient(top, #0000cc, #3333ff);
  background-image: linear-gradient(to bottom, #0000cc, #3333ff);
  background-repeat: repeat-x;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.050000000000000044);
  -moz-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.050000000000000044);
  box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.050000000000000044);
}
