#rental-page [data-id="description"] {
  height: 5em;
}
#rental-page [data-role="button"] {
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  border-radius: 1.2em;
}
#rental-page [data-role="content"] {
  opacity: 0;
  filter: alpha(opacity=0);
}
#rental-page [data-role="content"] [data-id="category.container"] [data-id="category.button"] span {
  text-align: left;
}
#rental-page [data-role="button-row"] [data-role="button"] {
  min-width: 8em;
}
#rental-page [data-id="popup"] [data-role=listview] {
  min-width: 300px;
}
#rental-page .ui-block-a,
#rental-page .ui-block-b {
  padding: 5px;
}
#rental-page .ui-listview-filter-inset {
  margin-top: 0;
}
