#rental-page [data-id="description"] {
  height: 6em !important;
}
#rental-page [data-id="icon.image"] {
  font-size: 50px;
  height: 50px;
  width: 50px;
}
#rental-page .icon {
  fill: #c6cfd7;
}
#rental-page [data-id="category.container"] [data-id="category.button"] span {
  text-align: left;
}
#rental-page [data-id="popup"] [data-role="listview"] {
  min-width: 300px;
}
