@import "../../css/bookio.less";


#rental-page {
	
	[data-id="description"] {
		height:5em;
	}
	
	[data-role="button"] {
    	.border-radius(1.2em);
	}

	// Center the checkbox
	[role="application"] {
    	margin:0px;
    	margin-top: 4px;
	}

	[data-role="content"] {

            	
    	.opacity(0);

    	// Fix for jQm 1.4.0
    	li.ui-li-has-thumb {
	    	padding: 0.7em 1em;	
    	}
    	
		[data-id="icon.container"] {
		}		

		[data-id="category.container"] {
    		[data-id="category.button"] {
        		span {
            		text-align: left;
        		}
    		}		
		}
		
	}
		
	[data-role="button-row"] {
		[data-role="button"] {
			min-width: 8em;
		}
	}
	
    [data-id="popup"] {
        [data-role=listview] {
            min-width:300px;
        }
    }
    
    .ui-block-a, .ui-block-b {
        padding: 5px;
    }

	.ui-listview-filter-inset {
		margin-top: 0;
	}
	
}