#rental-page [data-id="description"] {
  height: 6em !important;
}
#rental-page [data-id="icon.button"] {
  margin-top: 0px;
  height: 56px;
}
#rental-page [data-id="icon.image"] {
  font-size: 50px;
  height: 50px;
  width: 50px;
}
#rental-page .bigradiobutton {
  text-align: center;
  white-space: normal;
  background-color: #ebebeb;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  min-height: 3em;
  padding: 6px;
}
#rental-page .bigradiobutton label,
#rental-page .bigradiobutton svg,
#rental-page .bigradiobutton path {
  cursor: inherit;
}
#rental-page .bigradiobutton .icon {
  fill: white;
}
#rental-page .bigradiobutton:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}
#rental-page .bigradiobutton.activestate {
  background-color: #a2bbee;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}
#rental-page .bigradiobutton.activestate label {
  cursor: inherit;
  color: white;
}
#rental-page .redstar {
  position: absolute;
  right: 0;
  top: 0;
  color: #e34a53;
  font-weight: bold;
  font-size: large;
}
#rental-page .icon {
  fill: #b2c9f0;
}
#rental-page [data-id="category.container"] [data-id="category.button"] span {
  text-align: left;
}
#rental-page [data-id="popup"] [data-role="listview"] {
  min-width: 300px;
}
