@import "../../css/bookio.less";


#rental-page {
	
	[data-id="description"] {
		height:6em !important;
	}
	
	[data-id="icon.button"] { 
		margin-top:0px;
		height: 56px;
	}	
	
	[data-id="icon.image"] {
		font-size:50px;
		height:50px;
		width:50px;
	}
	
	.bigradiobutton {
		text-align: center;
		white-space: normal;
		
		background-color: #ebebeb;
		.transition(background-color 0.5s ease);
		
		min-height: 3em;
		//.border-radius(3px);
		padding: 6px;

		label, svg, path {
			cursor: inherit;
		}
		
		.icon {
			fill: white; 			
		}
		
		&:hover {
			background-color: #e3e3e3;
			cursor: pointer;
		}
		
		&.activestate {
			background-color: #a2bbee;
			.transition(background-color 0.5s ease);	
			label {
				cursor: inherit;
				color: white;
			}
		}

	}

	.icon {
		fill:@lightBookioBlue; 
	}
	
	[data-id="category.container"] {
		[data-id="category.button"] {
    		span {
        		text-align: left; 
    		}
		}		
	}
		
    [data-id="popup"] {
        [data-role="listview"] {
            min-width:300px;
        }
    }
    	
}