@import "../../css/bookio.less";


#user-page {

	.changepassword {
		font-size: small;
		&:hover {
			text-decoration: underline;
		}
	}
	
	.red {
		background-color: red;
	}
	
	.green {
		background-color: green;
	}
	
}
