@import "../../css/bookio.less";

#category-page {


	[data-role="content"] {
		
		.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-grid-solo {
			padding-right: 8px;
			padding-left: 8px;
		}
	
		[data-id="description"] {
			height: 6em !important;
		}

	}


	[data-role="button-row"] {
		[data-role="button"] {
			min-width: 8em;
		}
	}	 

}