.symbol-0056 {
  background: blue;
  -webkit-mask-box-image: url(../../images/symbols/0056.png);
}
#category-page [data-role="content"] .ui-block-a,
#category-page [data-role="content"] .ui-block-b,
#category-page [data-role="content"] .ui-block-c,
#category-page [data-role="content"] .ui-block-d,
#category-page [data-role="content"] .ui-grid-solo {
  padding-right: 8px;
  padding-left: 8px;
}
#category-page [data-role="content"] [data-id="description"] {
  height: 6em !important;
}
#category-page [data-role="button-row"] [data-role="button"] {
  min-width: 8em;
}
