@import "../../css/bookio.less";

/*
@keyframes fadeIn,
@-moz-keyframes fadeIn,
@-webkit-keyframes fadeIn,
@-o-keyframes fadeIn {
	0% {
		background-color: red; //lighten(@bookioBlue, 25%);
		
	}
	100% {
		background-color: blue; //lighten(@bookioBlue, 10%);
		
	}
}

@keyframes fadeOut,
@-moz-keyframes fadeOut,
@-webkit-keyframes fadeOut,
@-o-keyframes fadeOut {
	0% {
		background-color: lighten(@bookioBlue, 10%);
		
	}
	100% {
		background-color: lighten(@bookioBlue, 25%);
		
	}
}

*/
@baseColor:@bookioBlue;
@lightStripeColor: lighten(@baseColor, 25%);
@darkStripeColor: lighten(@baseColor, 20%);
@selectedColor: lighten(@baseColor, 10%);
@selectedBorderColor: lighten(@baseColor, 5%);
@backgroundColor: lighten(@baseColor, 30%);
@transitionDuration: 100ms;

[data-role="desktoplist"] {

	width:100%;
	height:100%;
	display: block;
	overflow-y: scroll;	
	background-color: @backgroundColor;
	font-size: smaller;
		 
	table {
		width:100%;
		border-collapse:collapse;
		
		thead {
			th {
				background-color: @darkStripeColor;
				text-align: left;	
				font-size: medium;

				&.name {
					width:20%;
				}

				&.description {
					width:20%;
				}
				
				&.icon {
					width: 50px;
				}
			}
		}	 
		
		
		tbody {
			tr {

				&:nth-child(even) {
				  &.selected {
					  .transition(background-color @transitionDuration);
					  background-color: @selectedColor;
				  }
				  :not(&.selected) {
					  .transition(background-color @transitionDuration);
					  background-color: @darkStripeColor;
				  }
				  
				  background-color: @darkStripeColor;
				}
				
				
				&:nth-child(odd) {
				  &.selected {
					  .transition(background-color @transitionDuration);
					  background-color: @selectedColor;
				  }
				  :not(&.selected) {
					  .transition(background-color @transitionDuration);
					  background-color: @lightStripeColor;
				  }
				  
				  background-color: @lightStripeColor;
				}

				&.selected {
					.transition(outline @transitionDuration);
					outline: 1px solid @selectedBorderColor;
					outline-offset: -1px;
					
				}

				&.disabled {
					color: @x-lightGrayColor;
					text-shadow: none;
				}
				
				td {
					text-align: left;
					
					&.icon {
						text-align: center;
						
						img {
							width:30px;
							height:30px;
						}
					}
					
				}
				
			}
		}
		 
	}
	
}





