[data-role="imagepicker"] {
  border: 1px dashed #b2c9f0;
  height: 80px;
  width: 80px;
  display: inline-block;
  cursor: pointer;
}
[data-role="imagepicker"] div:not(.clearbutton) {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: url(./images/dropzone.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 60px auto;
}
[data-role="imagepicker"] div:not(.clearbutton).background-image-none {
  background-image: none;
}
[data-role="imagepicker"] div:not(.clearbutton) img {
  position: absolute;
  max-height: 90%;
  max-width: 90%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
[data-role="imagepicker"] .clearbutton {
  position: absolute;
  top: -8px;
  right: -8px;
  background-image: none;
  cursor: pointer;
}
[data-role="imagepicker"] .clearbutton.background-image-none {
  display: none;
}
[data-role="imagepicker"] input {
  display: none;
}
