@import "../../css/bookio.less";

[data-role="imagepicker"] { 

    border: 2px solid @bookioLighterBlue;
    height:100px; 
    width:100px;           
    display: inline-block; 
    cursor: pointer;
	
	div {
		position: relative;
		width:100%;
		height:100%;
		
		cursor: pointer;

		background-image: url(./images/dropzone.png);
		background-position: center center;
		background-repeat: no-repeat;

		&.background-image-none {
			background-image: none;
		}

		img {
		    position: absolute;
			max-height: 90%;
			max-width: 90%;
		    left:0px;right:0px;top:0px;bottom:0px;
		    margin: auto;
		    cursor: pointer;
			
		    .border-radius(8px);
		}


	}
	
	input {
		display: none;
	}
	
	
}