.symbol-0056 {
  background: blue;
  -webkit-mask-box-image: url(../../images/symbols/0056.png);
}
[data-role="imagepicker"] {
  border: 4px dashed #b3b3b3;
  height: 100px;
  width: 100px;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
[data-role="imagepicker"] div {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(./images/dropzone.png);
  background-position: center center;
  background-repeat: no-repeat;
}
[data-role="imagepicker"] div.background-image-none {
  background-image: none;
}
[data-role="imagepicker"] div img {
  position: absolute;
  max-height: 90%;
  max-width: 90%;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
[data-role="imagepicker"] input {
  display: none;
}
