.symbol-0056 {
  background: blue;
  -webkit-mask-box-image: url(../../images/symbols/0056.png);
}
#mobile-enter-name [data-role="button"] {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
