
/*

#mobile-enter-name {

    [data-role="content"] {
        div.ui-block-a, div.ui-block-b {
            padding:10px;
        }
    }
    
    [data-hook="startDate"] {
        //width:100%;
    }
    
    [data-hook="searchResult"] {
        display: none;
    }
    
    [data-role="button-row"] {
        [data-role="button"] {
            min-width: 12em;
        }
    }
}

*/