#mobile-search [data-role="content"] div.ui-block-a,
#mobile-search [data-role="content"] div.ui-block-b {
  padding: 10px;
}
#mobile-search [data-id="searchResult"] {
  display: none;
  text-align: center;
  margin-top: 1em;
}
#mobile-search [data-id="dateButtons"] {
  text-align: center;
}
#mobile-search [data-role="listview"] {
  text-align: center;
}
#mobile-search [data-role="button"] {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  margin-left: auto;
  margin-right: auto;
}
#mobile-search [data-role="button-row"] {
  text-align: center;
}
#mobile-search [data-role="button-row"] [data-role="button"] {
  width: 12em;
}
#mobile-search img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
}
