#mobile-search [data-role="content"] div.ui-block-a,
#mobile-search [data-role="content"] div.ui-block-b {
  padding: 10px;
}
#mobile-search [data-id="searchResult"] {
  display: none;
  text-align: center;
  margin-top: 1em;
}
#mobile-search [data-role="button-row"] [data-role="button"] {
  min-width: 12em;
}
