#mobile-select-category-page [data-id="content"] ul {
  color: red !important;
}
#mobile-select-category-page [data-id="content"] ul li p {
  display: inline;
}
#mobile-select-category-page [data-id="content"] ul li img {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 10px;
  max-width: 80px;
  max-height: 80px;
}
