#reservation-page [data-id="contact"] {
  padding-right: 22px;
  resize: none;
  white-space: nowrap;
  overflow: auto;
}
#reservation-page .iconwrapper {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
#reservation-page .icontextarea {
  cursor: inherit;
}
#reservation-page path {
  cursor: inherit;
}
#reservation-page svg {
  cursor: inherit;
  vertical-align: top;
}
#reservation-page .softgreen {
  fill: #C0D890;
}
#reservation-page .hardgreen {
  fill: #90A860;
}
[data-id="popup.reservation.content"] {
  text-align: right;
}
[data-id="popup.reservation.content"] .menusymbol {
  fill: #87ace7;
  margin-top: 1px;
}
[data-id="popup.reservation.content"] .menusymbol:hover {
  fill: white;
}
[data-id="popup.reservation.content"] div {
  padding-left: 20px;
  padding-right: 20px;
  font-size: large;
  color: #87ace7;
}
[data-id="popup.reservation.content"] div:hover {
  color: white;
  background-color: #87ace7;
}
[data-id="popup.reservation.content"] div:hover .menusymbol {
  color: white;
  background-color: #87ace7;
  fill: white;
}
