@import "../../css/bookio.less";

#reservation-page {

    [data-id="contact"] {
        height: 8em;
    }

    [data-role="button"]  {
		.border-radius(1.2em);
    }    

	[data-role="button-row"] {
		[data-role="button"] {
			min-width: 8em;
		}
	}    
	
	[data-role="list-divider"] {
    	opacity: 0.8;
	}
	li {
    	background-color: rgba(238, 238, 238, 0.5);
	}
    
    .ui-controlgroup-controls {
        width:100%;
    }
    
    .ui-checkbox {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    
    [data-id="startdate.button"] {
        //width: 12em;    

        [data-id="startdate.text"] {
            color: @x-lightGrayColor
        }
    }

    [data-id="enddate.button"] {
        //width: 12em;    

        [data-id="enddate.text"] {
            color: @x-lightGrayColor
        }
    }
    
    [data-id=popup] {
        [data-role=listview] {
            min-width:300px;
        }
    }
}