@import "../bookio.less";

.input-xlarge {
	// Hides stop-cursor over text field and shows text instead (we want the user to copy the text, stop-sign = scary)
	cursor: text !important;

}

div[data-id='categories'] {

    margin-right: 20px;
    
    div[data-id='buttons'] {
        text-align: right;
        
        button {
            width:8em;
        }
    }    
}

