@import "../less/variables.less"

#contact-page {

	[data-hook="address"] {
		height:10em;
	}
	
	[data-role="content"] {
		label {
			color: @lightGrayColor;
		}
	}
	
	[data-role="button-row"] {
		[data-role="button"] {
			min-width: 8em;
		}
	}    
}
