@import "../less/variables.less";
@import "../less/mixins.less";


#contact-page {

	[data-role="content"] {

        .ui-grid-b {
			.ui-block-a {
				padding-right: 5px;
			}
			.ui-block-b {
				padding-right: 5px;
				padding-left: 5px;
			}
			.ui-block-c {
				padding-left: 5px;
			}
	        
        }

		[data-hook="address"] {
			height:6em;
		}



        [data-hook="dropzone.container"] {
            text-align: center;


            [data-hook="dropzone.image"] {
                vertical-align: middle;
                //border: 3px solid white;
                max-width:80px;
                max-height:80px;
                .border-radius(8px);

            }

            [data-hook="dropzone.border"] {
                .border-radius(12px);
                
                border: 4px dashed @x-lightGrayColor;
                height:100px;
                width:100px;           
                display: inline-block; 
                line-height: 100px;
                vertical-align: middle;   
                cursor: pointer;

            }
        }
	}
	
	[data-role="button-row"] {
		[data-role="button"] {
			min-width: 8em;
		}
	}    
}
