@import "../less/mixins.less";
@import "../less/variables.less";

html, body {
    height : 100%;
}

@scaleHeight: 30px;
@sliderHeight: 25px;
@footerHeight: 38px;
@margin: 10px;
@space:2px;

#main-page {
    
    height : 100%;


	[data-role=footer] {
	    position:absolute;
	    bottom:0px;
	    left:0px;
	    right:0px;
	    height:@footerHeight;
	    padding:4px;
	    text-align:center;
	    background-image: none;
	    background-color: transparent;// fadeout(black, 90%);
	    border:none;

	    [data-role=button] {
    	    height:30px;

	    }
	    [data-hook="startdate.button"], [data-hook="enddate.button"] {
	    
    	    width:8em;

            .year {
            	color: @xx-lightGrayColor;
            }
            
            .day {
            	color: @x-darkGrayColor; 
            }
            
            .year, .day {
            	text-shadow: 1px 1px 1px white;
            	cursor: pointer;
            }
            
            .weekday {
            	text-shadow: 1px 1px 1px white;
            	cursor: default;
            	color: @xx-lightGrayColor;
            	font-size: 80%;
            }
	    }
	    
	    [data-hook="popup.icon"] {
	    	cursor: pointer;
			opacity: 0.40;
			width: 80px;
			display: inline-block;
			vertical-align: middle;
			text-align: center;		
			div {
				display: inline-block;
				
			}
		}

	}

	[data-role="popup"] {
	
		li a {
			height:64px;
			text-align: center;
			padding: 10px;

			div {
				display: inline-block;
				opacity: 0.3;
				
			}			
		}

	}

	[data-hook=desktop] {
		position:absolute;
	    left:@margin;
	    right:@margin;
	    top:@margin;
	    bottom:@footerHeight+@sliderHeight+@scaleHeight+1*@margin+3*@space;
	    border: 1px solid @xx-lightGrayColor;
	}

	[data-hook=scale] {
		position:absolute;
	    left:@margin;
	    right:@margin;
	    top:auto;
	    height:@scaleHeight;
	    bottom:@footerHeight+@sliderHeight+1*@margin+2*@space;
	}

	[data-hook=slider] {
		position:absolute;
	    left:@margin;
	    right:@margin;
	    top:auto;
	    height:@sliderHeight;
	    bottom:@footerHeight+1*@margin+1*@space;
	}
	
	[data-role=footer] {
    	[data-hook=year] {
        	color: @xxx-lightGrayColor;
    	}
    	[data-hook=month] {
        	color: @xx-lightGrayColor;
    	}
    	[data-hook=day] {
        	color: @xxx-lightGrayColor;
    	}
    	
    	[data-hook=popupmenubutton] {
        	//float:right;
        	//margin-right: 8px;
    	}
	}

}
