


#mobile-search {

    [data-role="content"] {
        div.ui-block-a, div.ui-block-b {
            padding:10px;
        }
    }
    

    
    [data-id="searchResult"] {
        display: none;
        text-align: center;
        margin-top: 1em;
    }
    
    [data-role="button-row"] {
        [data-role="button"] {
            min-width: 12em;
        }
    }
}

