@import "../bookio.less";


.new-reservation  {
    
    .buttons {
                        
        button {
            width:8em;
        }
        
        .button-right {
        	float:right;
        }
        
        .button-left {
        	float:left;
        }
    }

}
