@import "../less/variables.less";
@import "../less/mixins.less";

#rental-page {
	
	
	[data-hook="description"] {
		height:5em;
	}
	
	[data-role="button"] {
    	.border-radius(1.2em);
	}

	[data-role="content"] {

            	
    	.opacity(0);
		
		label {
			color: @lightGrayColor;
		}

		[data-hook="icon.container"] {
    		span {
        		//text-align: left;
    		}
    		
		}		

		[data-hook="category.container"] {
    		[data-hook="category.button"] {
        		span {
            		text-align: left;
        		}
    		}		
		}
		
	}
		
	[data-role="button-row"] {
		[data-role="button"] {
			min-width: 8em;
		}
	}
	
    [data-hook="popup"] {
        [data-role=listview] {
            min-width:300px;
        }
    }	
}