@import "../less/variables.less";

#rental-page {
	
	[data-hook="description"] {
		height:10em;
	}
	
	[data-role="content"] {
		label {
			color: @lightGrayColor;
		}
		
		[data-hook="icon.container"] {
    		text-align: center;
		}		
		
	}
	
	[data-role="button-row"] {
		[data-role="button"] {
			min-width: 8em;
		}
	}
}