
#reservation-page {

    [data-hook="contact"] {
        height: 8em;
    }
    
	[data-role="button-row"] {
		[data-role="button"] {
			min-width: 8em;
		}
	}    
    
    .ui-controlgroup-controls {
        width:100%;
    }
    
    [data-hook=popup] {
        [data-role=listview] {
            min-width:300px;
        }
    }
}