@import "../bookio.less";

.input-xlarge {
	// Hides stop-cursor over text field and shows text instead (we want the user to copy the text, stop-sign = scary)
	cursor: text !important;

}
.settings {
    .users {
        padding:0.5em;
        height:8em;
    }
}
.buttons {
        
    button {
        width:8em;
    }
    
}

