@import "../less/variables.less";
@import "../less/mixins.less";

#test-page {


    [data-role="content"] {
        text-align: center;
        
        [data-hook="dropzone.container"] {
            .border-radius(40px);
            
            cursor: pointer;
            text-align: center;
            height: 400px;
            width: 400px;
            border: 4px dashed @x-lightGrayColor;
            line-height: 400px;
            display: inline-block;    
            position: relative;
            
            [data-hook="dropzone.image"] {
                vertical-align: middle;
                max-height: 350px;
                max-width: 350px;
                outline: 8px solid white;
                
            }

            [data-hook="dropzone.text"] {
                position: absolute;
                width: 100%;
                height:100%;
                
            }
        }
    }

}