#settings-page [data-id='url'] {
  font-size: smaller;
}
#settings-page .ui-mini {
  color: #cdcdcd;
  margin-top: 0;
}
#settings-page .ui-grid-a {
  border: 1px solid;
  border-color: #e6e6e6;
  padding: 1em;
}
#settings-page .icon {
  fill: #87ace7;
}
#settings-page [data-id='qrcontainer'] {
  text-align: center;
}
#settings-page [data-id='qrcontainer'] [data-id='qrcanvas'] {
  border: 2px solid #cdcdcd;
  padding: 8px;
  display: inline-block;
}
