@import "../../css/bookio.less";

#settings-page {

	
	[data-id='qrcontainer'] {
		
		[data-id='qrcanvas'] {
			border: 2px solid @xx-lightGrayColor;
			padding: 8px;
			display: inline-block;
		}
	}	
}
