@import "../../css/bookio.less";

#settings-page {
	[data-id='url'] {
		font-size: smaller;
	}

	[data-id='qrcontainer'] {
		text-align: center;
		
		[data-id='qrcanvas'] {
			.border-radius(6px);
			border: 2px solid @xx-lightGrayColor;
			padding: 8px;
			display: inline-block;
		}
	}	
}
